

//---- FLEX ------

.flex {
  display: table; /* IE < 10, Opera *Presto* Desktop (Now dead) */
  display: flex;
  flex-wrap: wrap;

  &-important {
    display: table !important; /* IE < 10, Opera *Presto* Desktop (Now dead) */
    display: flex !important;
    flex-wrap: wrap !important;
  }

  &-masonary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 1600px;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  &-box-1 {
    -webkit-flex: 1 1;
    -webkit-box-flex: 0;
    -ms-flex: 1 1;
    flex: 1 1;
  }

  &-box-1-auto {
    -webkit-flex: 1 auto;
    -webkit-box-flex: 0;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }

  @for $i from 0 through 1000 {
    &-box-1-#{$i} {
      //flex: 100/12 * $i;
      -webkit-flex: 1 $i * 1px;
      -webkit-box-flex: 0;
      -ms-flex: 1 $i * 1px;
      flex: 1 $i * 1px;
    }
    &-box-0-#{$i} {
      //flex: 100/12 * $i;
      -webkit-flex: 0 $i * 1px;
      -webkit-box-flex: 0;
      -ms-flex: 0 $i * 1px;
      flex: 0 $i * 1px;
    }
  }
}
