.hamburger-menu {
	cursor: pointer;

	.hamburger-box {
		display: inline-block;
		vertical-align: -1px;
		position: relative;
		width: 20px;
		height: 12px;
		padding: 0;
		border: 0;
		background: transparent;

		.hamburger-inner {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -1px;
			width: 100%;
			height: 2px;
			background: $color__dark;
			transition: transform 0.2s ease;

			&:before,
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: inherit;
			}

			&:before {
				top: -5px;
				transition: top 0.2s ease .22s, opacity 0.2s ease, width 0.2s ease;
			}

			&:after {
				bottom: -5px;
				transition: bottom 0.2s ease .22s, transform 0.2s ease, width 0.2s ease;
			}
		}
	}

	.menu-text {
		@include font-size(14/16);
		font-weight: 600;
		// vertical-align: middle;
		display: inline-block;
		opacity: 0;
		transform: translateX(-10px);
		transition: opacity 0.2s ease, transform 0.2s ease;
	}

	//&.focus .hamburger-inner,
	//&:hover .hamburger-inner {
	//	&:before {
	//		width: 80%;
	//	}
	//
	//	&:after {
	//		width: 90%;
	//	}
	//}

	&.active {
		.hamburger-inner {
			transform: rotate(45deg);
			transition-delay: 0.22s;

			&:before {
				top: 0;
				opacity: 0;
				width: 100%;
				transition: top 0.2s ease, opacity 0.2s ease .22s, width 0.1s ease;
			}

			&:after {
				bottom: 0;
				transform: rotate(-90deg);
				width: 100%;
				transition: bottom 0.2s ease, transform 0.2s ease .22s, width 0.1s ease;
			}
		}

		.menu-text {
			transition-delay: 0.42s;
			opacity: 1;
			transform: translateX(0);

			& + .hamburger-box {
				margin-left: 4px;
			}
		}
	}

	.text-light & .hamburger-inner {
		background-color: #fff;
	}
}

.hamburger-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: none;
	background: #fff;

	.button-close {
		position: absolute;
		top: 46px;
		left: 60px;
		z-index: 100;
	}

	.hamburger-screen-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.site-branding {
		position: absolute;
		left: 50%;
		top: 48px;
		transform: translateX(-50%);
	}

	.social-icons {
		position: fixed;
		left: 60px;
		bottom: 60px;

		li {
			display: block;
			margin: 10px 0 0 0;
			padding: 0;
		}

		a {
			color: #a2a5a6;
			font-size: 12px;
			text-align: center;
			line-height: 28px;
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid $color__lighter;

			&:hover {
				color: $color__dark;
				border-color: $color__dark;
			}
		}
	}

	.fullscreen-footer {
		@include font-size(14/16);
		color: #686b6c;
		padding: 10px 0 50px 0;
		margin-top: 0;
		justify-self: flex-end;
	}

	.currency {
		margin-right: 40px;
	}

	.menu > li,
	.widget,
	.currency,
	.language {
		animation-duration: 0.7s;
		animation-fill-mode: both;
		animation-name: fadeOut;
	}

	&.open {
		.menu > li,
		.widget,
		.currency,
		.language {
			animation-name: fadeIn;
		}
	}

	&.content-animation-fade.open {
		.menu > li,
		.widget,
		.currency,
		.language {
			animation-duration: 0.85s;
		}
	}

	&.content-animation-slide {
		.menu > li,
		.widget,
		.currency,
		.language {
			animation-name: fadeOutUp;
		}

		&.open {
			.menu > li,
			.widget,
			.currency,
			.language {
				animation-name: fadeInDown;
			}
		}
	}
}

.hamburger-screen-content,
.hamburger-screen-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.hamburger-screen-background {
	left: auto;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.hamburger-screen-content {
	padding: 70px 50px 10px 200px;
	display: flex;
	flex-direction: column;
	overflow: auto;

	.hamburger-navigation {
		padding: 100px 0 0 0;
		flex: 1;
	}

	.fullscreen-widgets {
		padding: 100px 100px 0 0;
		flex: 1;
		width: auto;
	}

	.list-dropdown .current {
		color: $color__darker;
	}

	.ps__rail-y {
		right: auto !important;
		left: 0;
	}
}
