.mc4wp-checkbox {
	label {
		padding-left: 0;
		padding-right: 30px;

		span {
			&:before,
			&:after {
				left: auto;
				right: 0;
				margin-right: auto;
				margin-left: 10px;
			}
		}
	}
}

.mc4wp-form {
	input[type=text],
	input[type=email],
	select {
		margin-right: 0;
		margin-left: 20px;
	}
}