.row {
	display: flex;
	flex-wrap: wrap;
}

.header-vertical .site {
	padding-right: 280px;
	padding-left: 0;
}

.header-vertical .site-footer.transparent {
	padding-left: 280px;
	padding-left: 0;
	left: auto;
	right: 0;
}