@media (max-width: 1440px) {
	.header-vertical .site {
		padding-right: 280px;
		padding-left: 0;
	}

	.header-vertical .site-footer.transparent {
		padding-right: 280px;
		padding-left: 0;
	}
}

@media (max-width: 1199px) {
	.header-vertical .site,
	.header-vertical .site-footer.transparent {
		padding-right: 0 !important;
	}

	.search .site-main article.product .post-thumbnail {
		margin-right: 0;
	}

	.gotop {
		left: 40px;
		right: auto;
	}
}

@media (max-width: 991px) {
	.search .site-main article.product {
		flex-direction: column;

		.post-thumbnail + .entry {
			margin-right: 0;
		}
	}

	.footer-widgets .footer-widgets-area {
		&:first-child {
			padding-left: 15px;
		}

		&:last-child {
			padding-right: 15px;
		}
	}

	.footer-widgets-flex .footer-widgets-area:last-child {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.mc4wp-form input[type=text],
	.mc4wp-form input[type=email],
	.mc4wp-form select {
		margin-left: 0;
	}

	.flex_post .flex-tags {
		left: auto;
		right: -24px;
	}

	.konte-message-box {
		padding-left: 20px;
		padding-right: 60px;
	}

	.konte-message-box.closeable {
		padding-left: 35px;
		padding-right: 60px;
	}

	.konte-message-box__icon {
		right: 10px;
	}

	.konte-message-box__close {
		left: 10px;
	}

	.search-modal .quick-links .links li {
		margin-left: 0;
	}

	.offscreen-panel .button-close {
		left: 20px;
	}

	.footer-main.items-horizontal .footer-left > :last-child {
		margin-right: 0;
	}

	.gotop {
		left: 20px;
		right: auto;
	}
}
