.modal {
	.button-close {
		right: auto;
		left: 60px;
	}

	.hamburger-menu {
		flex-direction: row-reverse;
	}
}

.hamburger-fullscreen {
	.button-close {
		left: auto;
		right: 60px;
	}

	.hamburger-box {
		margin-left: 4px;
	}

	.social-icons {
		left: auto;
		right: 60px;
	}

	.currency {
		margin-right: 0;
		margin-left: 40px;
	}
}

.hamburger-screen-content {
	left: auto;
	right: auto;
	padding-right: 200px;
	padding-left: 50px;
}

.hamburger-screen-background {
	left: 0;
	right: auto;
}

.hamburger-navigation {
	.menu > li > a::before {
		left: auto;
		right: -50px;
	}

	li ul {
		left: auto;
		right: 100%;
		padding-left: 0;
		padding-right: 140px;
	}

	li li ul {
		padding-left: 0;
		padding-right: 20px;
	}
}

.search-modal .quick-links .links li {
	margin-right: 0;
	margin-left: 74px;

	&:last-child {
		margin-left: 0;
	}
}

.popup-modal {
	.button-close {
		left: 20px;
	}
}