.offscreen-panel {
	.button-close {
		right: auto;
		left: 60px;
	}

	.hamburger-menu {
		flex-direction: row-reverse;
	}

	.panel {
		right: auto;
		left: 0;
		transform: translateX(-100%);
	}
}

.mobile-menu-panel {
	.panel {
		right: 0;
		left: auto;
		transform: translateX(100%);
	}

	.list-dropdown .dropdown {
		float: left;
	}
}