.konte-promotion.layout-inline .konte-button {
	margin-left: 0;
	margin-right: 40px;
}

.konte-tabs__nav li {
	&:first-child {
		margin-left: 25px;
		margin-right: 0;
	}

	&:last-child {
		margin-right: 25px;
		margin-left: 0;
	}
}

.konte-product-carousel2 ul.products li.product {
	.product-summary {
		text-align: right;
		left: auto;
		right: 20px;
	}

	.add-to-cart {
		left: auto;
		right: 20px;
		margin-left: 0;
		margin-right: 40px;
	}
}

.konte-team-member__socials {
	float: left;

	a:first-child {
		margin-left: 20px;
	}

	a:last-child {
		margin-left: 0;
	}
}

.konte-icon-box.box-align-left {
	text-align: left;
}

.konte-message-box {
	padding-right: 120px;
	padding-left: 40px;
}

.konte-message-box.closeable {
	padding-left: 65px;
	padding-right: 120px;
}

.konte-message-box__icon {
	left: auto;
	right: 40px;
}

.konte-message-box__close {
	left: 40px;
	right: auto;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tabs-list {
	text-align: right;
	padding-right: 0;
	padding-left: 100px;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab:before {
	left: auto;
	right: 0;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab.vc_active .vc_tta-title-text {
	transform: translateX(-30px);
}

.konte-testimonial__photo {
	padding-right: 0;
	padding-left: 60px;
}

.konte-carousel .konte-testimonial__photo {
	padding-right: 0;
	padding-left: 40px;
}

.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-body {
	padding-right: 0;
	padding-left: 195px;
}

.wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading h4,
.wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container {
	text-align: right;
}

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right a .vc_tta-controls-icon {
	left: 20px;
	right: auto;
}

.konte-category-banner.align-left {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.konte-category-banner__button:after {
	left: auto;
	right: 0;
}

.konte-dash .konte-dash__text {
	margin-left: 0;
	margin-right: 10px;
}

.konte-button.button-underline.underline-left:after {
	left: auto;
	right: 0;
}

.konte-product .product-cats {
	padding-left: 0;
	padding-right: 30px;

	&:before {
		left: auto;
		right: 0;
	}
}

.konte-product-carousel2 .slick-arrow.slick-prev {
	left: auto;
	right: 20px;

	.svg-icon {
		transform: rotate(180deg);
	}
}

.konte-product-carousel2 .slick-arrow.slick-next {
	left: auto;
	right: 80px;

	.svg-icon {
		transform: rotate(180deg);
	}
}