.widget {
	ul {
		padding-right: 0;
	}
}

.konte-popular-posts-widget {
	li {
		padding-left: 0;
		padding-right: 30px;
	}

	.no {
		left: auto;
		right: 0;
		border-left: 1px solid $color__lighter;
		border-right: 0;
	}

	.post-summary {
		padding-left: 0;
		padding-right: 15px;
	}
}

.widget_archive li .posts-count,
.widget_categories li .posts-count {
	float: left;
}

.widget_calendar {
	tfoot td:last-child {
		text-align: left;
	}
}