.select {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

label {
  margin: 0;
  width: 100% !important;
}

input, textarea {
  border-radius: 0 !important;
  width: 100% !important;
}
input[type="checkbox"] {
  width: auto !important;
}


select {
  margin-top: 5px;
  font-size: 0.8rem;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}