.instagram {
  position: relative;

  .instagram-section {
    position: fixed;
    z-index: -1111111;
    top: 0;
    @include max-tablet-xlg {
      //position: relative;
      //min-height: 0;
    }
  }
}


.instagram-feed {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  &__item {
    flex-grow: 1;
    background: url('') no-repeat center / cover;
    padding: 9rem;

    @include max-mobile-xlg {
      padding: 2.7rem !important;
    }


    &:nth-of-type(2), &:nth-of-type(5), &:nth-of-type(8) {
      flex-grow: 2;
    }
  }
}

.bg-instagram {
  @include max-mobile-xlg {
    padding: 4rem !important;
  }
}
