/*!
Theme Name: Konte
Theme URI: https://themeforest.net/item/konte-minimal-modern-woocommerce-wordpress-theme/23162599?ref=uixthemes
Author: UIX Themes
Author URI: https://uix.store
Description: Konte is a fully responsive Premium WordPress Theme with a pixel perfect design and extensive functionality
Version: 1.8.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: konte
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Konte is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-light-webfont.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-book-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-medium-webfont.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-demi-webfont.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-bold-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@import "modules/animation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
@import "modules/colors";

/*--------------------------------------------------------------
# Off-screen panels
--------------------------------------------------------------*/
@import "modules/panels";

/*--------------------------------------------------------------
# Modals
--------------------------------------------------------------*/
@import "modules/modals";

/*--------------------------------------------------------------
# Slick slider
--------------------------------------------------------------*/
@import "modules/slick";

/*--------------------------------------------------------------
# Swiper slider
--------------------------------------------------------------*/
@import "modules/swiper";

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
@import "modules/scrollbar";

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@import "modules/preloader";

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
@import "modules/misc";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/layout";

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
@import "shortcodes/shortcodes";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
@import "blocks/blocks";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@import "media-queries/media-queries";
