/**
 * Theme Name: Konte
 * WooCommerce styles override
 */

/**
 * WooCommerce color variables
 */
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #0f834d;
$woocommerce__color-info: #3D9CD2;

/**
 * Imports
 */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/**
 * Shop tables
 */
@import "shop/tables";

/**
 * Products
 */
@import "shop/products";

/**
 * Single product
 */
@import "shop/single-product";

/**
 * Shopping cart
 */
 @import "shop/cart";

/**
 * Wishlist
 */
@import "shop/wishlist";

/**
 * Checkout
 */
@import "shop/checkout";

/**
 * My Account
 */
@import "shop/account";

/**
 * Order Tracking
 */
@import "shop/order-tracking";

/**
 * General WooCommerce components
 */
@import "shop/components";

/**
 * WooCommerce widgets
 */
@import "shop/widgets";

/**
 * WooCommerce responsiveness
 */
 @import "shop/media-queries";
