.alignleft {
	display: inline;
	float: left;
	margin-right: 40px;
	margin-bottom: 36px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 40px;
	margin-bottom: 36px;
}

.aligncenter {
	clear: both;
	@include center-block;
}

ul.aligncenter {
	text-align: center;
}

.no-sidebar .alignwide {
	max-width: 1140px;
	width: 1140px;
	margin-left: calc( -1140px/2 + 100%/2 );
    margin-right: calc( -1140px/2 + 100%/2 );
}

.no-sidebar.page .alignwide {
	max-width: 1400px;
	width: 1400px;
	margin-left: calc( -1400px/2 + 100%/2 );
    margin-right: calc( -1400px/2 + 100%/2 );
}

.no-sidebar .alignfull {
	max-width: 100vw;
	width: 100vw;
    margin-left: calc( -100vw/2 + 100%/2 );
    margin-right: calc( -100vw/2 + 100%/2 );
}