@mixin product-share() {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: static;
	margin: 0;
	padding: 35px 0;
	width: 100%;
	border-bottom: 1px solid $color__lighter;

	.sharing-icon {
		@include font-size(14/16);
		font-weight: 500;
		color: $color__gray;
		text-transform: uppercase;
		text-align: left;
		line-height: inherit;
		width: auto;
		height: auto;
		background: transparent;
		border-radius: 0;

		svg {
			display: none;
		}

		span {
			@include font-size(14/16);
			display: inline;
			font-weight: 500;
			margin-left: 0;
		}
	}

	.socials {
		height: auto;
		max-width: none;
		position: static;
		background: transparent;
		border-radius: 0;
		z-index: auto;
		pointer-events: auto;

		a {
			color: $color__dark;
			font-size: 20px;
			line-height: inherit;
			width: auto;
			height: auto;
			opacity: 1;
			margin-left: 30px;
			border: 0;

			&:first-child {
				margin-left: 0;
			}

			&:hover,
			&:active {
				color: inherit;
				background: transparent;
			}
		}
	}

	&:hover .sharing-icon {
		opacity: 1;
	}
}

@media (max-width: 1440px) {
	.woocommerce div.product {
		.quantity {
			.qty-button {
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		.single_add_to_cart_button {
			min-width: 160px;
		}
	}

	.woocommerce div.product.layout-v1 {
		.summary {
			padding-right: 0;
		}
	}

	.woocommerce div.product.layout-v2 {
		&.product-type-simple {
			.cart {
				flex-direction: column;
			}

			.quantity {
				margin-right: 0;
				margin-bottom: 15px;

				.qty {
					flex: 1;
					width: auto;
				}
			}
		}

		.variations_button {
			flex-direction: column;

			.quantity {
				margin-right: 0;
				margin-bottom: 15px;
				display: flex;

				.qty {
					flex: 1;
					width: auto;
				}
			}
		}
	}

	.woocommerce div.product.layout-v3 {
		.woocommerce-product-gallery {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	.woocommerce div.product.layout-v5 {
		.summary {
			padding-left: 120px;
		}

		.product-toolbar {
			margin-right: 0;
		}
	}

	.woocommerce div.product.layout-v6 {
		.summary {
			padding-right: 0;
		}
	}

	.woocommerce div.product.layout-v7 {
		.summary {
			padding-right: 60px;
			padding-left: 40px;
		}
	}

	ul.products.layout-masonry li.product {
		&:nth-child(10n+1),
		&:nth-child(10n+7) {
			.product-thumbnail {
				padding-bottom: 924/680*100%;
			}
		}
	}

	.sidebar-left,
	.sidebar-right {
		ul.products.layout-masonry li.product {
			&:nth-child(10n+1),
			&:nth-child(10n+7) {
				.product-thumbnail {
					padding-bottom: 948/680*100%;
				}
			}
		}
	}
}

@media (max-width: 1280px) {
	ul.products.columns-6 li.product {
		.quick_view_button,
		.add-to-wishlist-button {
			display: none;
		}
	}

	ul.products.layout-masonry li.product {
		&:nth-child(10n+1),
		&:nth-child(10n+7) {
			.product-thumbnail {
				padding-bottom: 934/680*100%;
			}
		}
	}

	.sidebar-left,
	.sidebar-right {
		ul.products.layout-masonry li.product {
			&:nth-child(10n+1),
			&:nth-child(10n+7) {
				.product-thumbnail {
					padding-bottom: 966/680*100%;
				}
			}
		}
	}

	.woocommerce div.product.layout-v3 .woocommerce-product-gallery {
		padding-left: 20px;
		padding-right: 20px;
	}

	.woocommerce div.product.layout-v4 {
		.woocommerce-product-gallery {
			padding-left: 100px;
		}

		.flex-control-thumbs {
			width: 90px;
		}
	}
}

@media (max-width: 1199px) {
	ul.products {
		display: flex;
		flex-wrap: wrap;

		&:before,
		&:after {
			display: none;
		}

		&.layout-carousel {
			flex-wrap: nowrap;
		}

		li.product {
			.button {
				margin-left: 10px;
			}

			.quick_view_button {
				display: none;
			}
		}
	}

	.linked-products-carousel ul.products {
		flex-wrap: nowrap;
	}

	ul.products.layout-masonry li.product {
		&:nth-child(10n+1),
		&:nth-child(10n+7) {
			.product-thumbnail {
				padding-bottom: 954/680*100%;
			}
		}
	}

	.sidebar-left,
	.sidebar-right {
		ul.products.columns-4,
		ul.products.columns-5,
		ul.products.columns-6 {
			li.product {
				width: 33.33%;
			}
		}

		ul.products.layout-masonry li.product {
			&:nth-child(10n+1),
			&:nth-child(10n+7) {
				.product-thumbnail {
					padding-bottom: 992/680*100%;
				}
			}
		}
	}

	.woocommerce div.product {
		.summary,
		.woocommerce-product-gallery {
			width: 50%;
		}
	}

	.woocommerce div.product.layout-v1 {
		.product-toolbar {
			padding-left: 40px;
			padding-right: 40px;
		}

		.woocommerce-badges,
		.add-to-wishlist-button,
		.product-share {
			left: 40px;
		}

		.add-to-wishlist-button,
		.product-share {
			bottom: 30px;
		}

		.woocommerce-product-gallery {
			margin-top: 0;
		}

		.flex-control-nav {
			left: 40px;
		}

		.summary {
			padding-right: 0;
		}

		.woocommerce-tabs {
			position: static;
			margin: 0 0 20px 0;
		}
	}

	.woocommerce div.product.layout-v2 {
		padding-left: 40px;
		padding-right: 40px;

		.woocommerce-badges {
			left: 40px;
		}

		.woocommerce-product-gallery {
			width: 62%;
		}

		.summary {
			width: 38%;
		}
	}

	.woocommerce div.product.layout-v3 {
		align-items: stretch;
		padding-left: 40px;
		padding-right: 40px;
		margin-left: -40px;
		margin-right: -40px;

		.woocommerce-product-gallery {
			order: 0;
			width: 65%;
			padding: 0;
			position: relative;
		}

		.woocommerce-product-gallery__image a img {
			display: block;
		}

		.flex-control-nav {
			position: absolute;
		}

		.summary {
			width: 35%;
			flex-basis: 35%;
			padding-left: 40px;
		}

		.woocommerce-product-cart {
			display: none;
		}

		.price {
			margin-bottom: 27px;
		}
	}

	.single-product.product-v3 div.product {
		padding-bottom: 0;

		.price {
			margin-bottom: 7px;
		}

		.cart {
			margin-top: 30px;
		}
	}

	.woocommerce div.product.layout-v4 {
		.add-to-wishlist-button {
			width: 60px;
			padding-left: 0;
			padding-right: 0;

			.button-text {
				position: absolute !important;
				margin-left: 0;
				clip-path: inset(50%);
			}
		}

		&.product-type-grouped .qty-dropdown {
			min-width: 50px;
		}
	}

	.woocommerce div.product.layout-v5 {
		.summary {
			padding-left: 80px;
		}

		.woocommerce-product-gallery__image {
			&:nth-child(6n+1),
			&:nth-child(6n+4) {
				padding: 30px 100px;
			}

			&:nth-child(6n+3) {
				padding: 180px 30px 30px 60px;
			}

			&:nth-child(6n+5) {
				padding: 80px 35px 40px 60px;
			}

			&:nth-child(6n+6) {
				padding: 40px 0 40px 30px;
			}
		}

		.bundled_product .bundled_product_image {
			padding: 0;
		}
	}

	.woocommerce div.product.layout-v6 {
		.summary {
			padding-left: 60px;
		}
	}

	.woocommerce div.product.layout-v7 {
		.woocommerce-product-gallery {
			width: 50%;
		}

		.summary {
			padding-right: 0;
			width: 50%;
		}

		.side-products {
			display: none;
		}

		.summary-add-to-cart-form-bundle {
			width: auto;
			float: none;
			clear: both;
		}
	}

	.form-row-first {
		width: calc(50% + 97px);
	}

	.form-row-last {
		width: calc(50% - 97px);
	}

	form.woocommerce-checkout {
		.woocommerce-input-wrapper,
		.select2-container,
		.input-text {
			margin-right: 0;
		}
	}

	.woocommerce-checkout-review-order-table {
		width: 100%;
	}

	.woocommerce-checkout-2-columns {
		form.checkout .col2-set,
		#order_review_heading,
		.woocommerce-checkout-review-order {
			float: none;
			width: 100%;
		}

		h3#order_review_heading {
			margin-top: 30px;
		}

		.woocommerce-checkout-review-order {
			padding: 0;
			border: 0;
			background: transparent;
		}

		.form-row-first,
		.form-row-last {
			width: 50%;
		}
	}

	.woocommerce-account-login .content-area .woocommerce {
		width: 50%;
	}

	.cart-panel {
		.panel-header {
			padding-bottom: 35px;
		}
	}

	.floating-cart-icon {
		right: 40px;
		bottom: 40px;

		.gotop ~ & {
			right: 100px;
		}
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	@for $i from 5 through 6 {
		ul.products.columns-#{$i} {
			li.product {
				@include column-width( 4 );
			}
		}
	}
}

@media (max-width: 1199px) and (min-width: 768px) {
	.woocommerce-checkout-payment .wc-credit-card-form {
		.form-row {
			flex-direction: column;
			align-items: flex-start;

			> label,
			> div {
				flex-basis: auto;
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			width: 50%;
		}

		.form-row-last > label {
			text-align: left;
		}
	}
}

@media (max-width: 991px) {
	.woocommerce-tabs ul.tabs li {
		a {
			@include font-size(1);
		}
	}

	.woocommerce div.product {
		.product-toolbar {
			display: none;
		}

		.summary,
		.woocommerce-product-gallery {
			width: auto;
			float: none;
		}

		.woocommerce-product-gallery__image {
			width: 100%;

			a img {
				width: 100%;
			}
		}

		.flex-control-nav {
			line-height: 12px;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 40px;
			left: 40px;
			z-index: 10;

			li {
				display: inline-block;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}

				a {
					border-radius: 50%;
					display: block;
					width: 12px;
					height: 12px;
					text-indent: -9999em;
					background: $color__light;
				}

				.flex-active {
					background: $color__dark;
				}
			}
		}

		.summary {
			position: relative;
		}

		.woocommerce-variation-description {
			margin-bottom: 20px;
		}

		.quantity {
			.qty {
				width: 60px;
			}
		}

		.group_table {
			.quantity,
			.button {
				min-width: 120px;
			}
		}

		.add-to-wishlist-button {
			border-radius: 50%;
			color: #fff;
			line-height: 50px;
			position: absolute;
			top: -25px;
			right: 0;
			bottom: auto;
			left: auto;
			margin: 0;
			padding: 0;
			width: 50px;
			height: 50px;
			z-index: 99;
			background-color: $color__dark;

			> span {
				vertical-align: -0.4em;
			}

			.button-text {
				display: none;
			}
		}

		.product_meta {
			@include font-size(14/16);
		}

		.size-guide-button {
			@include font-size(14/16);
		}

		.cart .product-size-guide {
			margin: 0 0 7px 0;
			padding: 22px 0;
			border-bottom: 1px solid $color__lighter;
		}

		.variations .product-size-guide {
			padding: 0;
			border-bottom: 0;
			margin-top: 15px;
		}
	}

	.woocommerce-product-gallery {
		&.lightbox-support.zoom-support {
			.woocommerce-product-gallery__trigger {
				display: block;
				position: absolute;
				left: 40px;
				bottom: 34px;
				z-index: 99;
			}

			.flex-control-nav.flex-control-paging,
			.flex-control-nav.flex-control-thumbs {
				left: 90px;
			}
		}

		.flex-control-thumbs li {
			position: relative;

			img {
				opacity: 0;
				position: absolute;
			}

			span {
				transition: background-color 0.4s;
				display: block;
				width: 100%;
				height: 100%;
				background: $color__light;
			}

			.flex-active + span {
				background: $color__dark;
			}
		}

		.flex-direction-nav {
			display: none;
		}
	}

	.woocommerce-product-gallery__wrapper {
		overflow: hidden;
	}

	.woocommerce div.product.layout-v1 {
		padding-top: 0 !important;
		background-color: transparent !important;

		.product-gallery-summary {
			display: block;
		}

		.woocommerce-product-gallery {
			position: relative;
			margin-left: -40px;
			margin-right: -40px;

			img {
				width: 100%;
			}
		}

		.flex-control-nav {
			top: auto;
			bottom: 40px;
			transform: none;

			li {
				margin-bottom: 0;

				a {
					padding: 0;

					&:before {
						display: none;
					}
				}

				.flex-active {
					padding: 0;
				}
			}
		}

		.summary {
			padding-left: 0;
			padding-right: 0;
			padding-top: 60px;
			position: relative;
		}

		.product_title {
			margin-top: 0;
		}

		&.product-type-simple .cart,
		.variations_button {
			flex-wrap: wrap;
		}

		.add-to-wishlist-button {
			left: auto;
			bottom: auto;

			~ .share {
				margin-bottom: 0;
			}

			.spinner {
				vertical-align: 0.1em;
			}
		}

		.product-share {
			@include product-share();
		}

		.product_meta {
			margin: 0;
			padding: 30px 0 25px 0;
			border-bottom: 1px solid $color__lighter;
		}

		.woocommerce-tabs {
			margin-top: 25px;
		}
	}

	.woocommerce div.product.layout-v2 {
		.summary,
		.woocommerce-product-gallery {
			width: auto;
		}

		.woocommerce-product-gallery {
			margin-left: -40px;
			margin-right: -40px;
		}

		.woocommerce-product-gallery__image {
			width: 100%;
			border: 0;

			&:nth-child(2n+1) {
				clear: none;
			}
		}

		.summary {
			padding-left: 0;
			padding-right: 0;
			padding-top: 60px;
		}

		&.product-type-simple .cart,
		.variations_button {
			flex-direction: row;

			.quantity {
				margin-bottom: 0;
				margin-right: 10px;

				.qty {
					width: 60px;
				}
			}
		}

		.add-to-wishlist-button {
			color: #fff;
			line-height: 50px;
			margin: 0;
			background-color: $color__dark;

			svg {
				font-size: inherit;
				vertical-align: -0.1em;
			}

			.spinner {
				width: 20px;
				height: 20px;
				vertical-align: 0.1em;
			}
		}

		.product-share {
			@include product-share();
		}

		.product_meta {
			@include font-size(14/16);
			margin-top: 0;
			padding-top: 23px;
		}

		.woocommerce-tabs {
			padding-top: 30px;
		}
	}

	.woocommerce div.product.layout-v3 {
		display: block;
		background-color: transparent !important;
		padding-top: 0 !important;

		.summary,
		.woocommerce-product-gallery {
			width: 100%;
		}

		.woocommerce-product-gallery {
			width: auto;
			margin-left: -40px;
			margin-right: -40px;

			img {
				width: 100%;
			}
		}

		.flex-control-nav {
			left: 40px;
			bottom: 40px;
			transform: none;

			li a {
				width: 12px;
				height: 12px;
				margin: 0;
				transform: none;

				&:before {
					display: none;
				}
			}
		}

		.summary {
			padding-left: 0;
			padding-right: 0;
			padding-top: 60px;
			position: relative;
		}

		.quantity {
			width: auto;
			margin-right: 10px;
		}

		.single_add_to_cart_button {
			width: auto;
			flex: 1;
		}

		.product-share {
			@include product-share();
		}

		.product_meta {
			margin: 0;
			padding: 25px 0 20px 0;
		}

		.variations_button {
			display: flex;
			flex-wrap: wrap;

			.quantity {
				margin-bottom: 0;
				margin-right: 20px;
				width: auto;

				.qty {
					width: 60px;
					flex: 0;
				}
			}
		}

		.add-to-wishlist-button {
			color: #fff;
			line-height: 50px;
			margin: 0;
			background: $color__dark;

			svg {
				font-size: inherit;
				vertical-align: -0.1em;
			}

			.spinner {
				width: 20px;
				height: 20px;
				vertical-align: 0.1em;
			}
		}

		&.product-type-simple .cart {
			display: flex;
			flex-wrap: wrap;

			.quantity {
				margin-bottom: 0;
			}
		}

		&.product-type-grouped .single_add_to_cart_button {
			width: 100%;
		}

		&.product-type-external .single_add_to_cart_button {
			width: 100%;
		}

		.woocommerce-tabs {
			margin-top: 0;
			padding-top: 30px;
		}
	}

	.woocommerce div.product.layout-v4 {
		.summary,
		.woocommerce-product-gallery {
			width: 100%;
		}

		.woocommerce-badges {
			left: 0;
			top: 40px;
		}

		.woocommerce-product-gallery {
			padding-left: 0;
			width: auto;
			margin-left: -40px;
			margin-right: -40px;

			img {
				width: 100%;
			}
		}

		.flex-control-nav {
			top: auto;
			left: 40px;
			bottom: 40px;
			height: auto;
			width: auto;

			li {
				border-radius: 50%;
				display: inline-block;
				width: 12px;
				height: 12px;
				background: $color__light;
				margin: 0 30px 0 0;
				overflow: hidden;

				&:last-child {
					margin-right: 0;
				}

				img {
					opacity: 0;
				}
			}
		}

		.summary {
			padding-left: 0;
			padding-top: 60px;
			position: relative;
		}

		.add-to-wishlist-button {
			color: #fff;
			line-height: 50px;
			width: 50px;
			border: 0;
			background: $color__dark;

			svg {
				vertical-align: -0.1em;
			}

			.spinner {
				vertical-align: 0.1em;
			}
		}

		.bundle_form {
			.add-to-wishlist-button {
				color: inherit;
				line-height: 60px;
				position: static;
				height: 60px;
				width: auto;
				padding: 0 40px;
				border-radius: 0;
				border: 1px solid;
				background: transparent;

				.button-text {
					position: static !important;
					clip: unset;
					clip-path: none;
					display: inline-block;
					line-height: 1.5;
				}
			}
		}

		.product-share {
			@include product-share();
			float: none;
			max-width: none;
			line-height: inherit;

			.sharing-icon {
				margin-bottom: 0;
			}
		}

		.product_meta {
			margin: 0;
			padding: 25px 0 20px 0;
		}

		.woocommerce-tabs {
			margin-top: 0;
			padding-bottom: 10px;
			border-bottom: 1px solid $color__lighter;
		}

		.product-description {
			padding-top: 30px;
		}
	}

	.woocommerce div.product.layout-v5 {
		.product-gallery-summary {
			display: block;
		}

		.summary,
		.woocommerce-product-gallery {
			width: 100%;
		}

		.woocommerce-product-gallery {
			.woocommerce-product-gallery__image {
				width: 100%;
				clear: none;
				padding: 0;
				float: none;
			}
		}

		.summary {
			padding-left: 40px;
			padding-right: 40px;
			position: relative;
		}

		.summary-inner {
			display: block;
			height: auto;
			max-height: none !important;
		}

		.add-to-wishlist-button {
			position: absolute;
			left: auto;
			right: 40px;
		}

		.product-share {
			@include product-share();
		}
	}

	.woocommerce div.product.layout-v6 {
		.woocommerce-badges {
			top: 40px;
			left: 0;
		}

		.woocommerce-product-gallery {
			width: auto;
			width: calc(100% + 80px);
		}

		.summary {
			width: 100%;
		}

		.woocommerce-product-gallery {
			padding-left: 0;
			margin-bottom: 0;
			margin-left: -40px;
			margin-right: -40px;
		}

		.flex-control-nav {
			top: auto;
			left: 40px;
			bottom: 40px;
			height: auto;
			width: auto;

			li {
				border-radius: 50%;
				display: inline-block;
				width: 12px;
				height: 12px;
				background: $color__light;
				margin: 0 30px 0 0;
				overflow: hidden;

				&:last-child {
					margin-right: 0;
				}

				img {
					opacity: 0;
				}
			}
		}

		.summary {
			padding-left: 0;
			padding-top: 30px;
			margin: 0;
		}

		.add-to-wishlist-button {
			color: #fff;
			line-height: 50px;
			margin: 0;
			background: $color__dark;

			svg {
				font-size: inherit;
				vertical-align: -0.1em;
			}

			.spinner {
				width: 20px;
				height: 20px;
				vertical-align: 0.1em;
			}
		}

		.product-share {
			@include product-share();

			&:hover .sharing-icon {
				opacity: 1;
			}
		}

		.product_meta {
			margin-top: 0;
			padding: 25px 0 20px;
		}

		.woocommerce-tabs {
			padding-top: 25px;

			.tabs {
				width: auto;
				float: none;
				border-right: 0;
				margin-bottom: 30px;

				li {
					display: block;
					margin: 0 0 23px 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a {
					@include font-size(1);
					text-transform: uppercase;
					padding-left: 0;
					transform: none;
					display: inline-block;

					&:before {
						display: none;
					}
				}

				.active a {
					border-bottom: 1px solid;
				}
			}

			.panel {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}
		}
	}

	.woocommerce div.product.layout-v7 {
		.woocommerce-badges {
			top: 40px;
			left: 0;
		}

		.woocommerce-product-gallery,
		.summary {
			width: auto;
			float: none;
		}

		.woocommerce-product-gallery {
			margin-left: -40px;
			margin-right: -40px;
		}

		.flex-control-nav {
			top: auto;
			left: 40px;
			bottom: 40px;
			height: auto;
			width: auto;

			li {
				border-radius: 50%;
				display: inline-block;
				width: 12px;
				height: 12px;
				background: $color__light;
				margin: 0 30px 0 0;
				overflow: hidden;

				&:last-child {
					margin-right: 0;
				}

				img {
					opacity: 0;
				}
			}
		}

		.summary {
			padding-left: 0;
			padding-top: 30px;
		}

		.add-to-wishlist-button {
			color: #fff;
			line-height: 50px;
			margin: 0;
			background: $color__dark;

			svg {
				font-size: inherit;
				vertical-align: -0.1em;
			}

			.spinner {
				width: 20px;
				height: 20px;
				vertical-align: 0.1em;
			}
		}

		.product-share {
			@include product-share();
		}

		.product_meta {
			margin-top: 0;
			padding-top: 25px;
			padding-bottom: 20px;
		}

		.woocommerce-tabs {
			padding-top: 25px;
			border-top: 1px solid $color__lighter;

			.tabs {
				text-align: left;
				border-bottom: 0;

				a {
					padding-bottom: 3px;
					border-bottom-width: 1px;
				}
			}

			.panel {
				padding: 0;
			}
		}
	}

	.single-product.product-v7 .site-content {
		padding-top: 0;
	}

	.panels-offscreen .woocommerce-Reviews {
		#review_form_wrapper {
			height: auto;
			min-height: 100%;
			margin-top: -1px;
		}

		#review_form {
			height: auto;
		}

		.comment-respond {
			margin-top: 30px;
		}

		.cancel-review {
			position: static;
			margin: 20px 0;
		}
	}

	.products.related,
	.products.upsells {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid $color__lighter;
	}

	.products-tools {
		.products-filter.dropdown-panel {
			.widget {
				max-width: 50%;
			}

			.products-filter-widget {
				max-width: 100%;

				.filter {
					width: 50%;
				}
			}
		}

		.columns-switcher {
			display: none;
		}
	}

	ul.products {
		li.product {
			@include column-width(3);

			.product-thumbnails--slider .slick-arrow {
				margin-top: 0;
			}
		}
	}

	ul.products.layout-masonry li.product {
		width: 33.3333%;

		.product-thumbnail {
			padding-bottom: 0;

			> a,
			> .slick-list {
				display: block;
				position: static;
				transform: none;

				img {
					position: static;
					transform: none;
				}
			}
		}

		.product-thumbnails--hover .hover-image {
			position: absolute;
			top: 0;
			left: 0;
		}

		.woocommerce-loop-product__title {
			white-space: wrap;
			max-height: none;
		}

		&:nth-child(10n+1),
		&:nth-child(10n+7) {
			width: 33.3333%;

			.product-thumbnail {
				padding-bottom: 0;
			}
		}
	}

	.sidebar-left,
	.sidebar-right {
		ul.products.layout-masonry li.product {
			&:nth-child(10n+1),
			&:nth-child(10n+7) {
				.product-thumbnail {
					padding-bottom: 0;
				}
			}
		}
	}

	.shipping {
		ul {
			display: block;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.cart-collaterals {
		.cart-subtotal-table,
		.order-total-table {
			width: 100%;
			float: none;
		}

		.checkout-button {
			width: 100%;
		}
	}

	.track_order {
		.form-row {
			.input-text {
				margin-right: 0;
			}
		}
	}

	table.cart {
		.product-thumbnail {
			width: 80px;
		}

		.product-name {
			padding-left: 20px;
		}
	}

	table.wishlist_table {
		th,
		td {
			&.product-price,
			&.product-stock-status,
			&.product-add-to-cart {
				display: none;
			}
		}

		td.product-remove {
			width: auto;

			a.remove {
				margin-top: 10px;
				display: inline-block;
			}

			.button {
				margin-top: 33px;
			}
		}
	}

	.woocommerce-account-login {
		.content-area .woocommerce {
			width: 100%;
			max-width: 500px;
			padding-left: 0;
			padding-right: 0;
		}

		.login-tabs-nav {
			margin-top: 0;
		}
	}

	.woocommerce-order-pay {
		form.login {
			width: 80%;
		}
	}
}

@media (max-width: 767px) {
	.woocommerce-badges {
		left: 20px;
	}

	.woocommerce-badge {
		line-height: 40px;
		width: 40px;
		height: 40px;
	}

	.woocommerce-badge.sold-out {
		line-height: inherit;
	}

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		padding-left: 80px;
		padding-right: 40px;

		.message-icon {
			font-size: 40px;
			left: 20px;
		}

		.close-message {
			right: 10px;
		}
	}

	.woocommerce-tabs ul.tabs {
		li {
			display: block;
			margin: 0 0 15px 0;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				display: inline-block;
				padding-bottom: 0;
			}
		}
	}

	.woocommerce-tabs.panels-offscreen {
		.button-close {
			right: 18px;
			top: 15px;

			.menu-text {
				display: none;
			}
		}

		.panel {
			max-width: 100%;
		}

		.panel-header {
			padding: 20px 20px 0 20px;

			h3 {
				@include font-size(20/16);
			}
		}

		.panel-content {
			top: 60px;
			padding: 20px;
		}
	}

	.woocommerce div.product {
		.product_title {
			@include font-size(24/16);
		}

		.woocommerce-badges {
			left: 20px;
		}

		.flex-control-nav {
			line-height: 6px;
			bottom: 22px;

			li {
				width: 6px;
				height: 6px;
				margin-right: 15px;

				a {
					width: 100%;
					height: 100%;
				}
			}
		}

		.price {
			margin-top: 0;
		}

		.quantity {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}

		.group_table {
			.quantity {
				width: auto;
				margin-bottom: 0;
			}
		}

		.variations {
			@include font-size(20/16);

			td.label {
				vertical-align: top;
			}

			td.value {
				text-align: right;
			}

			.reset_variations {
				display: none !important;
			}
		}

		.swatches-support td.value {
			text-align: left;

			.product-size-guide {
				padding: 0;
				border-bottom: 0;
			}
		}

		.bundle_form {
			.cart .quantity {
				width: 100%;
			}

			.bundled_product {
				.variations_button {
					display: inline-block;
				}

				.quantity {
					width: auto;

					.qty {
						width: 40px;
					}
				}
			}

			ul.products {
				.swatches-support td.value {
					text-align: center;
				}
			}
		}

		.bundle_button {
			.single_add_to_cart_button {
				flex: 1;
			}
		}

		.product_meta {
			span.label {
				min-width: 100px;
			}
		}

		.woocommerce-tabs {
			margin-top: 20px;

			ul.tabs {
				display: block;
			}

			.tabs a {
				color: $color__dark;
			}
		}
	}

	.woocommerce-product-gallery {
		.woocommerce-product-gallery__trigger {
			width: 16px;
			height: 16px;
			background-size: 16px;
		}

		&.lightbox-support.zoom-support {
			.woocommerce-product-gallery__trigger {
				left: 20px;
				bottom: 16px;
			}

			.flex-control-nav.flex-control-paging,
			.flex-control-nav.flex-control-thumbs {
				left: 50px;
			}
		}
	}

	.products.related,
	.products.upsells {
		margin-top: 20px;

		h2 {
			@include font-size(24/16);
			margin-bottom: 30px;
		}
	}

	.woocommerce div.product.layout-v1 {
		margin-bottom: 30px;

		.woocommerce-badges {
			left: 22px;
		}

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
		}

		.flex-control-nav {
			bottom: 20px;
		}

		.summary {
			padding-top: 30px;
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}

		.woocommerce-tabs {
			margin-top: 18px;
			margin-bottom: 0;

			.tabs li {
				margin-right: 0;
			}
		}
	}

	.woocommerce div.product.layout-v2 {
		padding-left: 20px;
		padding-right: 20px;

		.woocommerce-badges {
			left: 20px;
			margin-left: 0;
		}

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
		}

		.summary {
			padding-top: 30px;
		}

		&.product-type-simple .cart,
		.variations_button {
			flex-direction: column;

			.quantity {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}

		table.bundled_products {
			.bundled_product_image {
				float: none;
			}
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}

		.woocommerce-tabs {
			padding-top: 20px;

			.tabs {
				li {
					margin-right: 0;
					margin-bottom: 23px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.woocommerce div.product.layout-v3 {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
			height: auto !important;
			max-height: none !important;
		}

		.woocommerce-product-gallery__wrapper {
			overflow: hidden;
		}

		.flex-control-nav {
			bottom: 22px;

			li a {
				width: 100%;
				height: 100%;
			}
		}

		.summary {
			padding-top: 25px;
		}

		.group_table {
			.quantity {
				max-width: 100%;
				min-width: 120px;

				.decrease {
					padding-right: 1px;
				}

				.increase {
					padding-left: 1px;
				}
			}
		}

		&.product-type-simple .cart,
		.variations_button {
			flex-direction: column;

			.quantity {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}

		.variations_button .quantity .qty {
			flex: 1;
		}

		.product-share {
			padding: 25px 0;

			.sharing-icon span {
				margin-left: 0;
			}
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}

		.woocommerce-tabs {
			padding-top: 20px;

			.tabs {
				padding-top: 0;

				li {
					margin-right: 0;
					margin-bottom: 23px;

					&:last-child {
						text-align: left;
						margin-bottom: 0;
					}

					a {
						@include font-size(1);
					}
				}
			}
		}
	}

	.single-product.product-v3 {
		position: static;
	}

	.woocommerce div.product.layout-v4 {
		.woocommerce-badges {
			top: 20px;
		}

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
		}

		.flex-control-nav {
			bottom: 22px;

			li {
				width: 6px;
				height: 6px;
				margin-right: 15px;
			}
		}

		.summary {
			padding-top: 30px;
		}

		.quantity-dropdown {
			border-width: 1px;
			display: flex;
			margin-bottom: 20px;

			label {
				display: none;
			}

			.qty,
			.qty-button {
				display: inline-block;
			}

			.qty {
				flex: 1;
			}

			.qty-dropdown {
				display: none;
			}
		}

		.group_table {
			.quantity {
				max-width: 100%;
				min-width: 120px;
				margin-bottom: 0;

				.qty {
					margin-left: -4px;
					margin-right: -4px;
				}
			}
		}

		.variations {
			tbody {
				margin-left: 0;
				margin-right: 0;
				display: table-row-group;
			}

			tr {
				display: table-row;
				width: auto;
				float: none;
				padding: 0;
			}

			td {
				display: table-cell;
			}

			td.value {
				text-align: right;
			}

			select {
				width: auto;
			}

			.product-size-guide {
				position: static;
				margin: 10px 0 0;
			}
		}

		.swatches-support td.value {
			text-align: left;
		}

		.cart,
		.bundle_wrap {
			width: 100%;
		}

		.bundle_form {
			ul.products {
				.variations td {
					display: block;
				}
			}

			.add-to-wishlist-button {
				margin: 20px 0 0 0;
				width: 100%;
			}
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}
	}

	.woocommerce div.product.layout-v5 {
		.summary {
			padding: 30px 20px 0 20px !important;
		}

		.cart,
		.variations_button {
			flex-wrap: wrap;
		}

		.single_add_to_cart_button {
			width: 100%;
		}

		.add-to-wishlist-button ~ .share {
			margin-bottom: 0;
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
			margin-top: 0;
			border-bottom: 1px solid $color__lighter;
		}

		.woocommerce-tabs {
			padding-top: 20px;
			margin-bottom: 0;

			.tabs {
				li {
					margin-bottom: 23px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.single-product.product-v5 {
		.upsells,
		.related {
			padding-top: 30px;
		}
	}

	.woocommerce div.product.layout-v6 {
		.woocommerce-badges {
			top: 20px;
		}

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
			width: auto;
		}

		.flex-control-nav {
			bottom: 22px;

			li {
				width: 6px;
				height: 6px;
				margin-right: 15px;
			}
		}

		.cart,
		.variations_button {
			flex-wrap: wrap;
		}

		.variations {
			display: table;
			padding-right: 0;
			margin-bottom: 30px;

			tbody {
				margin-left: 0;
				margin-right: 0;
				display: table-row-group;
			}

			tr {
				display: table-row;
				width: auto;
				float: none;
				padding: 0;
			}

			td {
				display: table-cell;
			}

			td.value {
				text-align: right;
			}

			select {
				width: auto;
			}

			.product-size-guide {
				position: static;
				margin: 10px 0 0;
			}
		}

		.swatches-support td.value {
			text-align: left;

			.product-size-guide {
				margin-top: 0;
			}
		}

		.bundle_form {
			ul.products {
				.variations td {
					display: block;
				}
			}
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}
	}

	.woocommerce div.product.layout-v7 {
		.woocommerce-badges {
			top: 20px;
		}

		.woocommerce-product-gallery {
			margin-left: -20px;
			margin-right: -20px;
		}

		.flex-control-nav {
			bottom: 22px;

			li {
				width: 6px;
				height: 6px;
				margin-right: 15px;
			}
		}

		.cart,
		.variations_button {
			flex-wrap: wrap;
		}

		.product-share {
			padding: 25px 0;
		}

		.product_meta {
			padding: 25px 0 20px 0;
		}

		.woocommerce-tabs {
			padding-top: 20px;

			.tabs {
				li {
					display: block;
					margin: 0 0 23px 0;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						@include font-size(1);
						color: $color__dark;
					}
				}
			}
		}
	}

	.woocommerce-products-header.layout-minimal {
		margin: 10px 0;
	}

	.woocommerce-products-header.layout-standard {
		.page-title {
			@include font-size(32/16);
		}

		.breadcrumbs {
			margin-bottom: 20px;
		}
	}

	.products-quick-search {
		padding: 15px 0;
	}

	.select2-container .products-quick-search-options {
		min-width: 110px;

		&.select2-dropdown {
			margin-left: 0;
		}

		.select2-results .select2-results__option {
			@include font-size(18/16);
		}
	}

	.products-tools {
		padding: 28px 0;

		.woocommerce-ordering .select2 {
			min-width: 0;

			.select2-selection--single .select2-selection__rendered {
				padding-right: 24px;
			}

			.select2-selection--single .select2-selection__arrow {
				margin-top: -4px;
			}
		}

		.products-filter-toggle .remove-filtered {
			display: none;
		}

		.products-filter.offscreen-panel .filter-widgets {
			padding: 20px 40px;
		}

		.products-filter.dropdown-panel {
			position: fixed;
			top: 0;
			left: 0;
			margin-left: 0 !important;
			width: 100% !important;
			height: 100%;
			padding-top: 0;
			z-index: 1100;
			overflow-y: auto;

			.products-filter-container {
				padding-top: 0;
			}

			.button-close {
				top: 18px;

				.menu-text {
					display: none;
				}
			}

			.panel-header {
				display: block;
				padding: 21px 0;
			}

			.filter-widgets {
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 20px;
			}

			.products-filter-widget {
				.filter {
					width: 100%;
				}

				.button {
					width: 100%;
				}

				.reset-button {
					margin-left: 0;
					margin-top: 20px;
				}

				.products-loader {
					text-align: center;
					display: block;
					margin-left: 0;
				}
			}
		}
	}

	.products-toolbar.layout-v3 {
		.woocommerce-result-count {
			display: none;
		}
	}

	.products-toolbar.layout-v4,
	.products-toolbar.layout-v5 {
		.products-tabs {
			display: none;
		}

		.woocommerce-ordering {
			display: block;
		}

		.products-filter-container .button-close {
			display: block;

			.menu-text {
				display: none;
			}
		}
	}

	.products-toolbar.layout-v4 {
		.columns-switcher {
			display: none;
		}

		.products-filter-toggle {
			margin-left: 0;
			padding-left: 0;
			border-left: 0;
		}
	}

	.products-toolbar.layout-v5 {
		.woocommerce-result-count {
			display: none;
		}

		.products-filter-toggle {
			margin-left: 0;
			padding-left: 0;
			border-left: 0;
		}
	}

	ul.products {
		margin-left: -10px;
		margin-right: -10px;

		li.product {
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;

			.product-summary {
				padding: 10px;
			}

			.buttons {
				left: 10px;
				right: 10px;
			}
		}

		.product-inner:hover {
			.add-to-wishlist-button {
				display: none;
			}
		}

		li.product-category .woocommerce-loop-category__title {
			@include font-size(20/16);
			margin: 0 30px 20px 30px;
		}
	}

	.sidebar-left,
	.sidebar-right {
		ul.products {
			&.columns-3,
			&.columns-4,
			&.columns-5,
			&.columns-6 {
				li.product {
					@include column-width(2);
				}
			}
		}
	}

	ul.products.layout-masonry {
		li.product {
			width: 50%;

			&:nth-child(10n+1),
			&:nth-child(10n+7) {
				width: 50%;
			}
		}
	}

	.mobile-shop-buttons ul.products {
		li.product {
			.buttons {
				position: static;
				transform: none;
				opacity: 1;
				padding-top: 10px;
			}

			.add-to-wishlist-button {
				margin-left: 0;
			}
		}

		.product-inner:hover {
			.product-summary {
				transform: none;
			}

			.price,
			.buttons {
				transform: none;
				opacity: 1;
			}

			.add-to-wishlist-button {
				display: inline-block;
			}
		}
	}

	.products-quick-search {
		@include font-size(20/16);

		.select2 .select2-selection--single .select2-selection__rendered {
			min-height: 0;
		}
	}

	.products-quick-search__intro-text {
		display: block;

		+ select + .select2 {
			margin-left: 0;
		}
	}

	.products-toolbar.layout-v6 {
		.products-tools {
			text-align: left;
			padding: 50px 0 10px 0;
		}

		.products-quick-search {
			display: block;
		}
	}

	.woocommerce-navigation {
		margin-top: 40px;
	}

	.cart-panel {
		.widget_shopping_cart_content {
			.woocommerce-mini-cart-item__thumbnail img {
				width: 75px;
			}

			.woocommerce-mini-cart-item__name,
			.woocommerce-mini-cart-item__qty,
			.total {
				@include font-size(1);
			}

			.total {
				margin-top: 30px;
				border-top: 1px solid $color__lighter;
			}

			.buttons {
				margin-bottom: 20px;

				.button {
					@include font-size(1);
					line-height: 50px;
				}
			}
		}
	}

	.woocommerce-account-login .login-tabs-nav {
		@include font-size(20/16);

		.tab-nav {
			margin-right: 30px;
		}
	}

	.woocommerce-cart {
		.entry-title {
			margin-bottom: 30px;
		}
	}

	.woocommerce-wishlist .entry-title {
		margin-bottom: 0;
	}

	table.wishlist_table {
		.product-thumbnail {
			width: 77px;
		}

		.product-name {
			padding-left: 30px;
		}

		td .product-stock-status {
			@include font-size(12/16);
			margin-top: 0;
		}

		td.product-remove .button {
			margin-top: 18px;
		}
	}

	table.cart {
		width: 100%;

		tr {
			border-bottom: 1px solid $color__lighter;
		}

		td {
			border-bottom: 0;
		}

		.product-thumbnail {
			width: 77px;
		}

		.product-name {
			padding-left: 30px;

			a {
				@include font-size(1);
			}

			.product-price {
				@include font-size(1);
				display: block;
			}

			.product-remove {
				text-align: left;
				display: block;

				a {
					@include font-size(12/16);
					font-weight: 400;
				}
			}
		}

		.product-price,
		.product-subtotal,
		.product-remove {
			display: none;
		}

		.product-quantity {
			text-align: right;
			padding-left: 0;
			padding-right: 0;

			.quantity {
				min-width: 0;
			}
		}

		.quantity {
			text-align: center;
			border: 0;

			.qty-button {
				line-height: 24px;
				display: block;
				width: 40px;
				padding: 0;
			}

			.qty {
				width: 40px;
			}
		}

		.actions {
			padding-left: 0;
			padding-right: 0;

			.empty-cart-button {
				float: left;
			}
		}

		.coupon {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.cart-collaterals {
		padding: 15px 20px 20px 20px;
		margin-top: 40px;

		.cart_totals {
			h2 {
				@include font-size(24/16);
				margin-bottom: 20px;
			}
		}

		.shop_table {
			tbody {
				display: block;
			}

			tr {
				display: flex;
			}

			th {
				flex: 1;
			}

			tr.shipping {
				flex-direction: column;
				border-bottom: 1px solid $color__lighter;

				th,
				td {
					display: block;
					width: 100%;
					border-bottom: 0;
				}

				th {
					padding-bottom: 0;
				}
			}

			.woocommerce-shipping-methods {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.checkout-login,
	.checkout-coupon {
		width: auto;
		float: none;
		margin-bottom: 30px;
	}

	.checkout-coupon .checkout_coupon {
		padding: 0;
	}

	.form-row-first,
	.form-row-last,
	.woocommerce-checkout-2-columns .form-row-first,
	.woocommerce-checkout-2-columns .form-row-last {
		width: 100%;
	}

	form.woocommerce-checkout {
		.form-row {
			display: block;

			label.screen-reader-text {
				display: none;
			}
		}
	}

	form.woocommerce-checkout .mc4wp-checkbox-woocommerce,
	form.woocommerce-checkout .mailchimp-newsletter,
	.woocommerce-account-fields .form-row.create-account,
	.woocommerce-shipping-fields h3 {
		padding-left: 0;
	}

	.woocommerce-checkout-review-order-table {
		tr {
			display: block;
			border-bottom: 1px solid $color__lighter;
		}

		th,
		td {
			display: block;
			border-bottom: 0;
		}

		tbody th {
			display: none;
		}

		tbody tr:first-child th {
			display: block;
			width: 100%;
		}

		.product-item {
			@include font-size(1);
			font-weight: 400;
		}

		tfoot {
			tr {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	.woocommerce-checkout-payment {
		border-top: 0;

		> h4 {
			float: none;
			width: auto;
			margin: 0 0 30px 0;
		}

		.payment_methods,
		.place-order {
			margin-left: 0;
		}

		.payment_methods {
			padding-bottom: 25px;
			border-bottom: 1px solid $color__lighter;
		}
	}

	.woocommerce-checkout-2-columns {
		.checkout-login .woocommerce-info {
			border-right-width: 1px;

			&:after {
				display: none;
			}
		}

		.checkout-coupon .woocommerce-info {
			border-left-width: 1px;
		}
	}

	.track_order {
		.form-row {
			display: block;

			.input-text {
				width: 100%;
			}
		}
	}

	.woocommerce-MyAccount-navigation {
		width: 100%;
		float: none;
		margin-top: 0;
		margin-bottom: 40px;
		padding-bottom: 20px;
		padding-right: 0;
		overflow-y: scroll;
		border-bottom: 1px solid $color__lighter;

		&::-webkit-scrollbar {
			display: none;
		}

		ul {
			white-space: nowrap;
			max-height: 30px;
		}

		li {
			display: inline-block;
			margin: 0 15px;

			&:first-child {
				margin-left: 0;
			}
		}

		.is-active a:before {
			display: none;
		}
	}

	.woocommerce-MyAccount-content {
		width: auto;
		float: none;

		h3 {
			@include font-size(24/16);
		}

		h3.greeting {
			margin-bottom: inherit;
		}
	}

	form.edit-account {
		.form-row-first,
		.form-row-last {
			width: auto;
		}

		.form-row {
			display: block;
		}

		> .form-row > span {
			margin-left: 0;
		}

		.form-row-submit {
			padding-left: 0;
		}

		label {
			display: inline-block;
		}

		.input-text {
			width: 100%;
		}
	}

	.woocommerce-address-fields {
		.form-row-first,
		.form-row-last {
			width: auto;
		}

		.form-row {
			display: block;
		}

		label {
			display: inline-block;
		}

		.button {
			margin-left: 0;
			width: 100%;
		}
	}

	.woocommerce-order-pay {
		form.login {
			width: 100%;
		}
	}

	table.woocommerce-table--order-downloads,
	table.my_account_orders {
		thead {
			display: none;
		}

		tbody {
			tr {
				display: block;
				padding: 10px 0;
				border-bottom: 1px solid $color__lighter;
			}

			td {
				@include font-size(1);
				text-align: right;
				display: block;
				border-bottom: 0;
				padding: 5px 0;

				&:before {
					content: attr(data-title);
					font-size: 14px;
					float: left;
					text-transform: uppercase;
					display: block;
				}
			}

			.button {
				line-height: inherit;
				color: $color__dark;
				padding: 0;
				margin-left: 10px;
				border-bottom: 2px solid $color__lighter;
				background: transparent;

				&:hover,
				&:active,
				&:focus {
					border-bottom-color: $color__dark;
				}
			}
		}
	}

	.floating-cart-icon {
		right: 20px;
		bottom: 20px;

		.gotop ~ & {
			right: 80px;
		}
	}
}

@media (max-width: 320px) {
	.mobile-shop-buttons ul.products {
		li.product {
			.woocommerce-loop-product__button {
				font-size: 0;

				&:before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					opacity: 1;
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxyZWN0IGZpbGw9Im5vbmUiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIvPjxwYXRoIGQ9Ik0xOSwxMGgtM1Y3YzAtMi4yMDYtMS43OTQtNC00LTRTOCw0Ljc5NCw4LDd2M0g1Yy0wLjU1LDAtMC45MDgsMC40NDEtMC43OTcsMC45NzlsMS44NzksOS4wNDJDNi4xOTQsMjAuNTU5LDYuNzM2LDIxLDcuMjg2LDIxaDkuNDI5YzAuNTUsMCwxLjA5Mi0wLjQ0MSwxLjIwMy0wLjk3OWwxLjg3OS05LjA0MkMxOS45MDgsMTAuNDQxLDE5LjU1LDEwLDE5LDEweiBNMTAsN2MwLTEuMTAzLDAuODk3LTIsMi0yczIsMC44OTcsMiwydjNoLTRWN3ogTTE2LjA4NywxOUg3LjkxM2wtMS40NTUtN2gxMS4zMTNMMTYuMDg3LDE5eiIvPjwvZz48L3N2Zz4=);
				}
			}

			.ajax_add_to_cart {
				&.loading:before {
					width: 16px;
					height: 16px;
					background: none;
					margin-top: 3px;
				}

				&.added:before {
					animation: none;
				}

				&.added:after {
					display: none;
				}
			}

			.ajax_add_to_cart.loading:before {
				margin-right: 0;
			}
		}
	}
}
