.woocommerce-order-tracking {
	.entry-title {
		margin-bottom: 20px;
	}
}

.track_order {
	> p:not(.form-row):first-child {
		text-align: center;
		margin-bottom: 107px;
	}

	.form-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		label {
			flex-basis: (195/1140)*100%;
		}

		.input-text {
			flex: 1;
			margin-right: (195/1140)*100%;
		}
	}

	.form-row-first,
	.form-row-last {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.button {
		line-height: 60px;
		min-width: 220px;
		margin-left: (195/1140)*100%;
	}
}
