.sticky {
	display: block;
}

.hentry {
	margin: 0 0 40px;

	&.page {
		margin-bottom: 0;
	}
}

.updated:not(.published) {
	display: none;
}

.entry-header {
	.cat-links {
		@include font-size(12/16);
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		padding-left: 30px;
		margin: 0 0 10px 0;

		a {
			color: $color__dark;
		}

		&:before {
			content: "";
			width: 20px;
			position: absolute;
			left: 0;
			top: 7px;
			border-top: 2px solid;
		}
	}

	.post-info {
		padding-top: 35px;
		position: relative;
	}

	.entry-thumbnail {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 15px;
			width: 1270px;
			height: 140px;
			background: #fff;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		+ .post-info {
			margin-top: -140px;
		}
    }
}

.post-thumbnail {
	position: relative;

	img {
		display: block;
	}

	.post-format-icon {
		@include font-size(20/16);
		color: #fff;
		text-align: center;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #fff;
		background-color: rgba(0,0,0,.6);

		svg {
			vertical-align: -12px;
		}
	}
}

.no-sidebar {
	.entry-header .entry-thumbnail:after {
		width: 1170px;
	}

	.entry-header .post-info {
		width: 780px;
	}
}

.entry-title {
	@include font-size(60/16);
	font-weight: 600;
	line-height: (70/60);
	margin: 0 0 20px;
}

.entry-meta {
	@include font-size(12/16);
	color: $color__gray;
	font-weight: 500;
	text-transform: uppercase;

	a {
		color: $color__gray;

		&:hover {
			color: $color__dark;
		}
	}

	svg {
		fill: $color__gray;
	}

	.svg-icon {
		margin-right: 6px;
	}

	.icon-share,
	.icon-comment {
		vertical-align: top;
		display: inline-block;
	}

	.posted-on,
	.total-shares {
		margin-right: 26px;
	}
}

.entry-content,
.entry-summary {
	margin: 15px 0 0;
}

.entry-content {
	margin-top: 40px;
	margin-bottom: 20px;

	> :first-child {
		margin-top: 0;
	}

	li,
	dd {
		margin-bottom: 6px;
	}
}

.post-password-form [type=submit] {
	color: $color__dark;
	padding: 2px 5px;
	border-bottom: 2px solid $color__lighter;
	line-height: inherit;
	background: transparent;

	&:hover {
		border-color: $color__dark;
	}
}

.page-links {
	@include font-size(1);
	font-weight: 500;
	clear: both;
	margin: 0 0 1.5em;

	a {
		display: inline-block;
		padding: 0 5px;
		margin: 0 6px;
		border-bottom: 2px solid $color__lighter;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border-bottom-color: $color__dark;
		}
	}
}

.entry-footer {
	.tags-links {
		display: block;
		padding-bottom: 20px;
		border-bottom: 1px solid $color__lighter;

		a {
			@include font-size(12/16);
			font-weight: 600;
			color: $color__gray;
			text-transform: uppercase;
			display: inline-block;
			padding: 6px 20px;
			margin: 0 6px 10px 0;
			border: 1px solid $color__lighter;

			&:hover {
				color: $color__dark;
				border-color: $color__dark;
			}
		}
	}

	.social-share {
		margin-top: 30px;
	}
}

.social-share {
	a {
		@include font-size(14/16);
		color: #fff;
		font-weight: 500;
		line-height: 20px;
		display: inline-block;
		margin-right: 20px;
		padding: 10px 30px;
		background: $color__gray;

		i {
			margin-right: 20px;
			width: 14px;
			text-align: center;
		}
	}

	.toggle-socials {
		cursor: pointer;
		color: $color__gray;
		text-align: center;
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 1px solid;
		position: relative;
		vertical-align: top;
		transition: 0.4s;

		.icon-plus {
			vertical-align: bottom;
		}

		&:hover {
			color: $color__dark;

			svg {
				fill: $color__dark;
			}

			.social-list {
				opacity: 1;
				z-index: 1;
				transform: translateX(0);
			}
		}
	}

	.social-list {
		text-align: left;
		white-space: nowrap;
		position: absolute;
		left: 100%;
		top: -1px;
		padding-left: 10px;
		z-index: -1;
		opacity: 0;
		transform: translateX(10px);
		transition: 0.4s;

		a {
			display: block;
		}
	}

	.facebook {
		background-color: #306199;
	}

	.twitter {
		background-color: #26c4f1;
	}

	.googleplus {
		background-color: #dd4f43;
	}

	.pinterest {
		background-color: #bd081c;
	}

	.tumblr {
		background-color: #35465c;
	}

	.reddit {
		background-color: #5f99cf;
	}

	.linkedin {
		background-color: #0077b5;
	}

	.stumbleupon {
		background-color: #eb4924;
    }

    .digg {
        background-color: #005be2;
    }

    .vk {
        background-color: #45668e;
    }

	.telegram {
		background-color: #0088cc;
	}

	.email {
		background-color: #b7b7b7;
	}
}

.author-info {
	min-height: 140px;
	padding: 30px;
	background: #f3f5f6;

	.author-vcard,
	.author-description,
	.author-socials {
		padding-left: 110px;
	}

	.author-vcard {
		position: relative;
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		left: 0;
	}

	.author-name {
		@include font-size(24/16);
		text-transform: capitalize;
		line-height: 1;
		margin-bottom: 10px;
		display: inline-block;
	}

	.author-description {
		@include font-size(1);
		margin-bottom: 30px;
	}

	.author-socials {
		@include font-size(14/16);

		a {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	+ .comments-area {
		margin-top: 40px;
	}
}

.related-posts {
	padding: 33px 0 25px 0;

	h2 {
		@include font-size(1);
		text-transform: uppercase;
		margin: 0 0 20px;
	}

	h3 {
		@include font-size(1);
		font-weight: 400;
		margin: 0;
	}

	img {
		display: block;
	}

	.post-thumbnail {
		display: block;
		margin-bottom: 15px;
	}
}

.single-post article.post {
	border-bottom: 1px solid $color__lighter;

	&[class*="tag-"] {
		border-bottom: 0;
	}

	+ .post-navigation {
		margin-top: -40px;
	}

	+ .related-posts {
		margin-top: -40px;
	}

	+ .comments-area {
		margin-top: -41px;
	}
}

.single-post.post-shareable article.post {
	border-bottom: 0;

	+ .comments-area {
		margin-top: auto;
		border-top: 0;
	}
}

.hfeed .hentry {
	margin-bottom: 40px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	.post-thumbnail {
		// float: left;
		width: 360px;
		max-width: 50%;
		margin-right: 40px;

		img {
			display: block;
		}

		+ .entry {
			// margin-left: 400px;
			width: auto;
		}
	}

	.entry {
		padding-bottom: 36px;
		border-bottom: 1px solid $color__lighter;
		flex: 1;
		width: 100%;
	}

	&.has-post-thumbnail .entry {
		min-height: 210px;
		padding-bottom: 18px;
	}

	.cat-links {
		@include font-size(11/16);
		padding-left: 0;
		margin-bottom: 10px;
		top: -4px;

		&:before {
			display: none;
		}
	}

	.entry-title {
		@include font-size(30/16);
		font-weight: 400;
		line-height: (40/30);
		margin-bottom: 15px;

		a:hover {
			box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__dark;
		}
	}

	.entry-summary {
		@include font-size(1);
		color: $color__gray;
		line-height: (22/16);
		max-height: (22/16*2em);
		overflow: hidden;

		p {
			margin: 0;
		}
	}

	.entry-footer {
		margin-top: 10px;
	}

	.entry-meta {
		display: flex;
	}

	.posted-on {
		flex: 1;
	}

	.total-shares,
	.comments-link {
		display: none;
	}

	&.post-large {
		display: block;

		.post-thumbnail {
			width: 100%;
			max-width: 100%;
			float: none;
			margin-bottom: 15px;
			margin-right: 0;
			display: block;
		}

		.cat-links {
			top: auto;
			margin-bottom: 15px;
		}

		.entry {
			margin-left: 0;
			min-height: 0;
			padding-bottom: 36px;
		}

		.entry-summary {
			max-height: none;
		}

		.entry-footer {
			margin-top: 20px;
		}

		.total-shares,
		.comments-link {
			display: inline;
		}
	}

	&.sticky {
		position: relative;

		&:first-child {
			margin-top: 15px;
		}

		.entry {
			border-bottom: 0;
			position: relative;
		}

		.post-thumbnail {
			position: relative;
		}

		&:before {
			content: "";
			position: absolute;
			top: -15px;
			bottom: -15px;
			left: -15px;
			right: -15px;
			background: #fff;
			box-shadow: 0 4px 22px -2px rgba(0, 0, 0, 0.1);
		}
	}
}

.blog-grid .site-main {
	margin-left: -15px;
	margin-right: -15px;
}

.blog-grid .hentry {
	display: block;

	&.col-md-6 {
		&:nth-child(2n+1) {
			clear: left;
		}
	}

	&.col-md-4 {
		&:nth-child(3n+1) {
			clear: left;
		}
	}

	.post-thumbnail {
		width: 100%;
		max-width: 100%;
		float: none;
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.entry {
		min-height: 0;
	}

	&.sticky:before {
		left: 0;
		right: 0;
	}
}

.hfeed.blog-grid .hentry .post-thumbnail + .entry {
	margin-left: 0;
}

.blog-grid .content-area .navigation {
	clear: both;
}

.featured-content {
	margin-bottom: 60px;

	&.posts-carousel:first-child {
		margin-top: -60px;
	}

	&.posts-carousel .konte-container {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

.featured-content-carousel {
	height: 790px;
	overflow: hidden;

	.featured-item {
		height: 790px;
		position: relative;
		background: $color__gray no-repeat center center;
		background-size: cover;

		&.loading {
			background-image: url("images/loading.svg");
			background-size: auto;

			.entry-header {
				opacity: 0;
				transition: opacity 0.4s;
			}
		}
	}

	.entry-header {
		color: #fff;
		padding: 60px 130px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);

		a {
			color: #fff;
		}
	}

	.cat-links {
		margin-bottom: 15px;
	}

	.entry-title {
		@include font-size(48/16);
		font-weight: 400;
		line-height: (60/48);
		margin-bottom: 25px;
		padding-right: 20%;
	}

	.read-more {
		@include font-size(12/16);
		line-height: 40px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 25px;
		border: 1px solid;

		&:hover {
			color: $color__dark;
			border-color: #fff;
			background: #fff;
		}
	}

	.slick-arrow {
		color: #fff;
		text-align: center;
		line-height: 34px;
		position: absolute;
		bottom: 60px;
		width: 40px;
		height: 40px;
		border: 1px solid;
		z-index: 1;
		cursor: pointer;
		transition: 0.4s;

		svg {
			vertical-align: middle;
		}

		&:hover {
			color: $color__dark;
			border-color: #fff;
			background: #fff;
		}
	}

	.slick-next {
		right: 130px;
	}

	.slick-prev {
		right: 190px;
	}

	&.carousel {
		&:hover .slick-arrow {
			opacity: 1;
		}

		.slick-arrow {
			color: $color__dark;
			bottom: 50%;
			margin-top: 20px;
			border-color: #fff;
			background: #fff;
			opacity: 0;
			transition: 0.5s;

			&.slick-disabled {
				opacity: 0;
			}
		}

		.slick-next {
			right: 0;
		}

		.slick-prev {
			left: 0;
			right: auto;
		}

		.entry-header {
			text-align: center;
			padding: 40px 110px;
		}

		.cat-links {
			padding-left: 0;
			margin-bottom: 8px;
			transform: translateY(55px);
			transition: 0.5s;

			&::before {
				display: none;
			}
		}

		.entry-title {
			@include font-size(24/16);
			line-height: (32/24);
			padding-right: 0;
			margin-bottom: 0;
			transform: translateY(55px);
			transition: 0.5s;
		}

		.read-more {
			margin-top: 15px;
			opacity: 0;
			transform: translateY(100%);
			transition: 0.5s;
		}

		.featured-item:hover {
			.cat-links,
			.entry-title,
			.read-more {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.featured-posts {
	padding-top: 42px;
	margin-bottom: 60px;

	h2 {
		font-weight: 400;
		text-align: center;
		margin: 0 0 22px;
	}

	.posts {
		padding-bottom: 32px;
	}

	.post-thumbnail {
		display: block;
		margin-bottom: 13px;
	}

	.entry-title {
		@include font-size(18/16);
		font-weight: 400;
		line-height: (24/18);
		margin-bottom: 5px;
	}

	.posted-on {
		@include font-size(12/16);
		font-weight: 500;
		text-transform: uppercase;

		a {
			color: $color__gray;

			&:hover {
				color: $color__dark;
			}
		}
	}
}

.featured-content + .featured-posts {
	margin-top: -17px;
	padding-top: 0;
}
