.woocommerce-account-login .login-tabs-nav {
	.tab-nav {
		margin-right: auto;
		margin-left: 100px;

		&:last-child {
			margin-left: 0;
		}
	}
}

.woocommerce-account-login,
.woocommerce-account-login {
	.u-columns {
		.u-column1,
		.u-column2 {
			float: right;
		}

		.u-column2.active {
			transform: translateX(100%);
		}
	}
}
