table.cart {
	.actions {
		.button {
			float: left;
		}

		.empty-cart-button {
			margin-left: 100px;
			margin-right: 0;
		}
	}

	.coupon {
		.button {
			right: auto;
			left: 0;
		}
	}
}

.cart-collaterals {
	.cart_totals {
		h2 {
			float: right;
		}
	}

	.cart-subtotal-table,
	.order-total-table {
		float: left;
	}

	.cart-subtotal-table td,
	.order-total-table td {
		text-align: left;
	}

	.wc-proceed-to-checkout {
		text-align: left;
	}
}

.shipping ul label {
	padding-left: 0;
	padding-right: 30px;

	&:before,
	&:after {
		left: auto;
		right: 0;
		margin-right: 0;
		margin-left: 10px;
	}
}

.floating-cart-icon {
	right: auto;
	left: 60px;

	.counter {
		left: auto;
		right: 0;
		transform: translate(50%, -50%);
	}

	.gotop ~ & {
		right: auto;
		left: 120px;
	}
}