.woocommerce-form {
	.show-password-input {
		right: auto;
		left: 0;
	}
}

label.woocommerce-form__label-for-checkbox {
	padding-left: 0;
	padding-right: 30px;

	span {
		&:before,
		&:after {
			left: auto;
			right: 0;
			margin-right: 0;
			margin-left: 10px;
		}
	}
}

.form-row-first,
.form-row-last {
	float: right;
}

.form-row-first {
	padding-right: 0;
	padding-left: 15px;
}

.form-row-last {
	padding-left: 0;
	padding-right: 15px;
}

.star-rating .user-rating {
	left: auto;
	right: 0;
}

.woocommerce .tawcvs-swatches .swatch {
	&:first-child {
		margin-right: 0;
	}

	&:last-child {
		margin-right: 22px;
	}
}

.woocommerce-tabs ul.tabs {
	text-align: right;
}

.quick-view-panel {
	.product {
		.woocommerce-badges {
			left: auto;
			right: 60px;
		}

		.add-to-wishlist-button {
			right: auto;
			left: 60px;
		}
	}
}

.quick-view-modal {
	.button-close {
		left: 32px;
	}

	.woocommerce .product {
		.woocommerce-badges {
			left: auto;
			right: 30px;
		}

		.woocommerce-product-gallery {
			float: right;

			.flex-control-nav {
				left: auto;
				right: 30px;

				a {
					padding-left: 0;
					padding-right: 20px;

					&:before {
						left: auto;
						right: 0;
					}
				}

				.flex-active {
					padding-left: 0;
					padding-right: 35px;
				}
			}
		}

		.summary {
			float: left;
		}

		.product-share,
		.add-to-wishlist-button {
			left: auto;
			right: 30px;
		}

		.product-share {
			.socials {
				left: auto;
				right: 0;
			}
		}
	}
}

.notifyjs-konte-base {
	padding-right: 60px;
	padding-left: 20px;

	.message-icon {
		left: auto;
		right: 20px;
	}
}

.woocommerce-pagination ul {
	.next .svg-icon {
		margin-left: -4px;
		margin-right: 10px;
		transform: rotate(180deg);
	}

	.prev .svg-icon {
		margin-right: -4px;
		margin-left: 10px;
		transform: rotate(180deg);
	}
}

.breadcrumbs .delimiter {
	transform: rotate(180deg);
}
