@media (max-width: 1440px) {
	.woocommerce div.product.layout-v5 {
		.summary {
			padding-right: 120px;
		}
	}

	.woocommerce div.product.layout-v6 {
		.summary {
			padding-left: 0;
		}
	}

	.woocommerce div.product.layout-v7 {
		.summary {
			padding-left: 60px;
			padding-right: 40px;
		}
	}
}

@media (max-width: 1280px) {

}

@media (max-width: 1199px) {
	.woocommerce div.product.layout-v1 {
		.woocommerce-badges {
			left: auto;
			right: 40px;
		}

		.summary {
			padding-right: 60px;
			padding-left: 0;
		}
	}

	.woocommerce div.product.layout-v2 {
		.woocommerce-badges {
			left: auto;
			right: 40px;
		}
	}

	.woocommerce div.product.layout-v5 {
		.summary {
			padding-right: 80px;
		}
	}

	.woocommerce div.product.layout-v6 {
		.summary {
			padding-right: 60px;
		}
	}

	.woocommerce div.product.layout-v7 {
		.summary {
			padding-left: 0;
		}
	}

	form.woocommerce-checkout {
		.woocommerce-input-wrapper,
		.select2-container,
		.input-text {
			margin-left: 0;
		}
	}

	.floating-cart-icon {
		right: auto;
		left: 40px;

		.gotop ~ & {
			right: auto;
			left: 100px;
		}
	}
}

@media (max-width: 991px) {
	.woocommerce div.product {
		.flex-control-nav {
			left: auto;
			right: 40px;

			li:first-child {
				margin-right: 0;
			}

			li:last-child {
				margin-right: 30px;
			}
		}

		.add-to-wishlist-button {
			right: auto;
			left: 0;
		}
	}

	.woocommerce-product-gallery.lightbox-support {
		&.zoom-support {
			.flex-control-nav.flex-control-paging,
			.flex-control-nav.flex-control-thumbs {
				left: auto;
				right: 90px;
			}

			.woocommerce-product-gallery__trigger {
				left: auto;
				right: 40px;
			}
		}
	}

	.woocommerce div.product.layout-v1 {
		.summary {
			padding-right: 0;
		}

		.flex-control-nav {
			right: 40px;
		}

		.product-share .socials a {
			&:first-child {
				margin-left: 30px;
			}

			&:last-child {
				margin-left: 0;
			}
		}

		.add-to-wishlist-button {
			right: auto;
			left: 0;
		}
	}

	.woocommerce div.product.layout-v2 {
		.woocommerce-product-gallery__image:nth-child(2n+1) {
			clear: none;
		}

		.product-share .socials a {
			&:first-child {
				margin-left: 30px;
			}

			&:last-child {
				margin-left: 0;
			}
		}
	}

	.woocommerce div.product.layout-v3 {
		.variations_button .quantity {
			margin-right: 0;
			margin-left: 20px;
		}

		.product-share .socials a {
			&:first-child {
				margin-left: 30px;
			}
		}
	}

	.woocommerce div.product.layout-v4 {
		.woocommerce-badges {
			right: 0;
		}

		.woocommerce-product-gallery {
			padding-right: 0;
		}

		.flex-control-nav li:last-child {
			margin-right: 30px;
		}

		.summary {
			padding-left: 0;
			padding-right: 0;
		}

		.product-share {
			float: none;

			.socials {
				a:first-child {
					margin-left: 30px;
				}

				a:last-child {
					margin-left: 0;
				}
			}
		}
	}

	.woocommerce div.product.layout-v5 {
		.summary {
			padding-right: 40px;
			padding-left: 40px;
		}

		.add-to-wishlist-button {
			right: auto;
			left: 40px;
		}

		.product-share {
			.socials {
				a:first-child {
					margin-left: 30px;
				}

				a:last-child {
					margin-left: 0;
				}
			}
		}
	}

	.woocommerce div.product.layout-v6 {
		.woocommerce-badges {
			left: auto;
			right: 0;
		}

		.woocommerce-product-gallery {
			padding-right: 0;
		}

		.flex-control-nav li:last-child {
			margin-right: 30px;
		}

		.summary {
			padding-right: 0;
		}

		.product-share {
			.socials {
				a:first-child {
					margin-left: 30px;
				}
			}
		}

		.woocommerce-tabs {
			.tabs {
				float: none;
				width: auto;
				border-left: 0;

				a {
					padding-right: 0;
					transform: none;
				}
			}

			.panel {
				margin-right: 0;
				border-right: 0;
				padding-right: 0;
			}
		}
	}

	.woocommerce div.product.layout-v7 {
		.woocommerce-badges {
			right: 0;
		}

		.summary {
			padding-right: 0;
		}

		.flex-control-thumbs li:last-child {
			margin-right: 30px;
		}

		.product-share .socials a:first-child {
			margin-left: 30px;
		}

		.woocommerce-tabs {
			.tabs {
				text-align: right;
			}
		}
	}
}

@media (max-width: 767px) {
	.woocommerce div.product {
		.quantity {
			margin-left: 0;
		}

		.swatches-support td.value {
			text-align: right;
		}

		.flex-control-nav {
			right: 20px;

			li:last-child {
				margin-right: 15px;
			}
		}
	}

	.woocommerce-product-gallery.lightbox-support {
		&.zoom-support {
			.flex-control-nav.flex-control-paging,
			.flex-control-nav.flex-control-thumbs {
				left: auto;
				right: 50px;
			}

			.woocommerce-product-gallery__trigger {
				left: auto;
				right: 20px;
			}
		}
	}

	.woocommerce-tabs.panels-offscreen .button-close {
		left: 18px;
		top: 23px;
	}

	.woocommerce div.product.layout-v1 {
		.woocommerce-badges {
			left: auto;
			right: 22px;
		}

		.flex-control-nav {
			right: 20px;
		}
	}

	.woocommerce div.product.layout-v2 {
		.woocommerce-badges {
			left: auto;
			right: 20px;
			margin-right: 0;
			margin-top: 0;
		}
	}

	.woocommerce div.product.layout-v3 {
		.variations_button .quantity {
			margin-left: 0
		}

		.woocommerce-tabs .tabs li:last-child {
			text-align: right;
		}
	}

	.woocommerce div.product.layout-v4 {
		.flex-control-nav {
			right: 20px;

			li:last-child {
				margin-right: 15px;
			}
		}
	}

	.woocommerce div.product.layout-v6 {
		.flex-control-nav {
			right: 20px;

			li:last-child {
				margin-right: 15px;
			}
		}
	}

	.woocommerce div.product.layout-v7 {
		.flex-control-nav li:last-child {
			margin-right: 15px;
		}

		.woocommerce-tabs .tabs li:last-child {
			margin-right: 0;
		}
	}

	.form-row-first {
		padding-left: 0;
	}

	.form-row-last {
		padding-right: 0;
	}

	form.woocommerce-checkout .mc4wp-checkbox-woocommerce,
	form.woocommerce-checkout .mailchimp-newsletter,
	.woocommerce-account-fields .form-row.create-account,
	.woocommerce-account-fields .woocommerce-password-hint,
	.woocommerce-account-fields .woocommerce-password-strength,
	.woocommerce-shipping-fields h3 {
		padding-right: 0;
	}

	.woocommerce-checkout-payment > h4 {
		float: none;
	}

	.woocommerce-checkout-payment .payment_methods,
	.woocommerce-checkout-payment .place-order {
		margin-right: 0;
	}

	.floating-cart-icon {
		right: auto;
		left: 40px;

		.gotop ~ & {
			right: auto;
			left: 80px;
		}
	}
}
