.woocommerce-products-header {
	.page-title {
		float: right;
	}

	.breadcrumbs {
		float: left;
	}
}

.products-quick-search {
	.products-quick-search-form {
		display: flex;
		flex-wrap: wrap;
	}

	.select2 .select2-selection--single .select2-selection__rendered {
		padding-right: 0;
		padding-left: 32px;
	}
}

.products-tools {
	.columns-switcher .column-seletor {
		&:first-child {
			margin-left: 13px;
			margin-right: 0;
		}

		&:last-child {
			margin-left: 0;
			margin-right: 13px;
		}
	}

	.woocommerce-ordering {
		.select2 .select2-selection--single .select2-selection__rendered {
			padding-right: 0;
			padding-left: 32px;
		}
	}

	.products-filter-toggle {
		.toggle-filters {
			margin-right: 0;
			margin-left: 30px;
		}

		.svg-icon {
			margin-right: 0;
			margin-left: 13px;
		}

		.remove-filtered {
			margin-left: 0;
			margin-right: 40px;

			.svg-icon {
				margin-right: 16px;
				margin-left: 0;
			}
		}
	}

	.products-filter.dropdown-panel {
		left: auto;
		right: 50%;
		margin-left: 0;
		margin-right: -50vw;

		.products-filter-widget {
			.reset-button {
				margin-right: 40px;
				margin-left: 0;
			}

			.products-loader {
				margin-right: 40px;
				margin-left: 0;
			}
		}
	}

	.products-filter-container .button-close {
		right: auto;
		left: 15px;
		flex-direction: row-reverse;
	}

	.products-tabs a {
		&:first-child {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 38px;
		}
	}
}

.products-toolbar.layout-v1 {
	.woocommerce-ordering {
		float: right;
	}

	.columns-switcher,
	.woocommerce-result-count {
		float: left;
	}

	.columns-switcher {
		margin-left: 0;
		margin-right: 55px;
	}
}

.products-toolbar.layout-v2 {
	.woocommerce-result-count {
		float: right;
	}

	.woocommerce-ordering {
		float: left;
	}
}

.products-toolbar.layout-v3 {
	.products-filter-toggle {
		float: right;
	}

	.woocommerce-ordering,
	.woocommerce-result-count {
		float: left;
	}

	.woocommerce-result-count {
		margin-right: 0;
		margin-left: 55px;
	}
}

.products-toolbar.layout-v4 {
	.products-tabs,
	.woocommerce-ordering {
		float: right;
	}

	.columns-switcher,
	.products-filter-toggle {
		float: left;
	}

	.products-filter-toggle {
		margin-left: 0;
		margin-right: 30px;
		padding-left: 0;
		padding-right: 30px;

		&:before {
			left: auto;
			right: 0;
		}

		.toggle-filters {
			margin-left: 0;
		}
	}

	.toggle-filters {
		flex-direction: row;
	}
}

.products-toolbar.layout-v5 {
	.products-tabs,
	.woocommerce-ordering {
		float: right;
	}

	.woocommerce-result-count,
	.products-filter-toggle {
		float: left;
	}

	.products-filter-toggle {
		margin-left: 0;
		margin-right: 30px;
		padding-left: 0;
		padding-right: 30px;

		&:before {
			left: auto;
			right: 0;
		}

		.toggle-filters {
			margin-left: 0;
		}
	}

	.toggle-filters {
		flex-direction: row;
	}
}

ul.products {
	li.product {
		float: right;

		.woocommerce-badges {
			left: auto;
			right: 15px;
		}

		.buttons {
			text-align: left;
		}

		.button {
			margin-left: 0;
			margin-right: 16px;

			&:first-child {
				margin-right: 0;
				float: right;
			}

			&:nth-child(2) {
				margin-right: 0;
			}
		}

		.ajax_add_to_cart.loading:before {
			margin-right: 0;
			margin-left: 10px;
		}

		.ajax_add_to_cart.added:after {
			left: auto;
			right: 2px;
		}
	}

	.product-inner {
	}
}

ul.products.hover-simple .product-inner .add-to-wishlist-button {
	right: auto;
	left: 18px;
}

.products-carousel {
	margin-left: auto;
	margin-right: -50vw;
	left: auto;
	right: 50%;
}
