.woocommerce div.product {
	.woocommerce-product-gallery {
		float: right;

		.flex-viewport {
			direction: ltr;
		}
	}

	.summary {
		float: left;
		padding-left: 0;
		padding-right: 60px;
	}

	.woocommerce-review-link {
		margin-right: 6px;
		margin-left: 0;
	}

	.quantity {
		margin-right: 0;
		margin-left: 16px;
	}

	.variations .product-size-guide {
		float: left;
	}

	.variations select {
		padding-right: 0;
		padding-left: 20px;
		background-position: left center;
	}

	.product_meta {
		.label {
			padding-left: 10px;
			padding-right: 0;
		}
	}
}

.product-toolbar {
	.breadcrumbs {
		float: right;
	}

	.post-navigation {
		float: left;

		.nav-links .nav-next {
			padding-left: 0;
			padding-right: 0;
			border-right: 0;
		}
	}
}

.konte-size-guide .konte-tabs__nav {
	text-align: right;

	li:first-child {
		margin-right: 0;
		margin-left: 25px;
	}

	li:last-child {
		margin-right: 25px;
		margin-left: 0;
	}
}

.woocommerce-tabs.panels-offscreen {
	.panel {
		right: auto;
		left: 0;
		transform: translateX(-100%);
	}

	.button-close {
		right: auto;
		left: 60px;
		flex-direction: row-reverse;
	}
}

.woocommerce-Reviews {
	.comment,
	.review {
		.star-rating {
			float: left;
		}

		.meta {
			display: flex;
			align-items: center;
		}

		.woocommerce-review__published-date {
			margin-left: 0;
			margin-right: 20px;
		}
	}

	.comment-form .comment-form-rating label {
		margin-right: 0;
		margin-left: 26px;
	}
}

.woocommerce div.product.layout-v1 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;

	.woocommerce-badges {
		left: auto;
		right: 60px;
	}

	.summary {
		padding-left: 60px;
	}

	.flex-control-nav {
		left: auto;
		right: 60px;

		a {
			padding-left: 0;
			padding-right: 20px;

			&:before {
				left: auto;
				right: 0;
			}
		}

		.flex-active {
			padding-left: 0;
			padding-right: 35px;
		}
	}

	.product-share,
	.add-to-wishlist-button {
		left: auto;
		right: 60px;
	}

	.product-share .socials {
		left: auto;
		right: 0;
	}
}

.woocommerce div.product.layout-v2 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;

	.woocommerce-badges {
		left: auto;
		right: 60px;
		margin-right: 20px;
		margin-left: 0;
	}

	.woocommerce-product-gallery__image {
		float: right;

		&:nth-child(2n+1) {
			clear: right;
		}
	}

	.product-share .sharing-icon span,
	.add-to-wishlist-button .button-text {
		margin-right: 6px;
		margin-left: 0;
	}
}

.woocommerce div.product.layout-v3 {
	.woocommerce-badge {
		margin-left: 0;
		margin-right: 10px;
	}

	.swatches-support .variations td.value {
		text-align: right;
	}

	.product-share .sharing-icon span,
	.add-to-wishlist-button .button-text {
		margin-right: 6px;
		margin-left: 0;
	}

	.add-to-wishlist-button {
		float: right;
	}

	.product-share {
		float: left;

		.socials {
			left: 0;
			right: auto;

			a:last-child {
				margin-left: 0;
			}
		}
	}
}

.woocommerce div.product.layout-v4 {
	.woocommerce-badges {
		left: auto;
		right: 150px;
	}

	.woocommerce-product-gallery {
		padding-left: 0;
		padding-right: 130px;
	}

	.flex-control-thumbs {
		left: auto;
		right: 0;
	}

	.summary {
		padding-left: 60px;
		padding-right: 110px;
	}

	.qty-dropdown .svg-icon {
		float: left;
	}

	.single_add_to_cart_button .shopping-cart-icon {
		margin-right: 0;
		margin-left: 6px;
	}

	.add-to-wishlist-button {
		margin-left: 0;
		margin-right: 36px;

		.button-text {
			margin-left: 0;
			margin-right: 4px;
		}
	}

	.product-share {
		float: left;

		.socials a {
			&:first-child {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 10px;
			}
		}
	}

	.product_meta {
		margin-right: 0;
		margin-left: 200px;
	}

	&.product-type-grouped .quantity-dropdown {
		text-align: right;
	}
}

.woocommerce div.product.layout-v5 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;

	.summary {
		padding-right: 240px;
		padding-left: calc(50vw - 700px + 60px);
	}

	.woocommerce-product-gallery__image {
		float: right;

		&:nth-child(6n+2) {
			clear: right;
			text-align: left;
			padding-right: 40px;
			padding-left: 10px;
		}

		&:nth-child(6n+3) {
			text-align: left;
			padding-right: 115px;
			padding-left: 40px;
		}

		&:nth-child(6n+5) {
			clear: right;
			padding-right: 60px;
			padding-left: 95px;
		}

		&:nth-child(6n+6) {
			padding-right: 50px;
			padding-left: 0;
		}
	}

	.product-share,
	.add-to-wishlist-button {
		left: auto;
		right: 60px;
	}

	.product-share {
		.socials {
			left: auto;
			right: 0;
		}
	}
}

.woocommerce div.product.layout-v6 {
	.woocommerce-badges {
		left: auto;
		right: 110px;
	}

	.woocommerce-product-gallery {
		padding-left: 0;
		padding-right: 90px;
	}

	.flex-control-thumbs {
		left: auto;
		right: 0;
	}

	.summary {
		padding-left: 90px;
		padding-right: 97px;
	}

	.product-share {
		float: left;

		.socials {
			left: 0;
			right: auto;

			a:last-child {
				margin-left: 0;
			}
		}
	}

	.add-to-wishlist-button {
		float: right;

		.button-text {
			margin-right: 6px;
			margin-left: 0;
		}
	}

	.woocommerce-tabs {
		.tabs {
			float: right;
			border-right: 0;
			border-left: 1px solid $color__lighter;

			a {
				padding-left: 0;
				padding-right: 30px;
				transform: translateX(30px);

				&:before {
					left: auto;
					right: 0;
				}
			}
		}

		.panel {
			margin-left: 0;
			margin-right: 239px;
			padding-left: 0;
			padding-right: 85px;
			border-left: 0;
			border-right: 1px solid $color__lighter;
		}
	}
}

.woocommerce div.product.layout-v7 {
	.woocommerce-badges {
		left: auto;
		right: 20px;
	}

	.flex-control-thumbs {
		li {
			float: right;

			&:first-child {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 10px;
			}
		}
	}

	.summary {
		float: right;
		padding-left: 90px;
		padding-right: 60px;
	}

	.side-products {
		float: right;
		padding-left: 0;
		padding-right: 40px;
		border-right: 1px solid $color__lighter;
		border-left: 0;
	}

	.add-to-wishlist-button {
		float: right;

		.button-text {
			margin-right: 6px;
			margin-left: 0;
		}
	}

	.product-share {
		float: left;

		.socials {
			right: auto;
			left: 0;

			a:last-child {
				margin-left: 0;
			}
		}
	}

	.woocommerce-tabs .tabs li {
		&:first-child {
			margin-left: 60px;
			margin-right: 0;
		}

		&:last-child {
			margin-right: 60px;
			margin-left: 0;
		}
	}
}

.side-products {
	li img {
		margin-right: 0;
		margin-left: 20px;
	}
}
