.widget .product_list_widget img {
	margin-right: 0;
	margin-left: 30px;
}

.products-filter-widget {
	.swatch:first-child {
		margin-right: 0;
	}
}

.widget_layered_nav_filters .chosen a {
	padding-right: 0;
	padding-left: 25px;
	background-position: center left;
}

.widget_shopping_cart_content {
	a.remove {
		right: auto;
		left: 0;
	}

	.woocommerce-mini-cart-item__thumbnail {
		padding-right: 0;
		padding-left: 30px;
	}

	.woocommerce-mini-cart-item__name {
		padding-right: 0;
		padding-left: 20px;
	}

	.woocommerce-mini-cart-item__qty {
		.price {
			float: left;
		}
	}

	.quantity {
		.current {
			padding-left: 15px;
			padding-right: 0;

			.svg-icon {
				right: auto;
				left: 0;
			}
		}

	}

	.total {
		text-align: left;

		strong {
			float: right;
		}
	}
}
