.konte-carousel {
	overflow: hidden;
	margin-bottom: 40px;

	.slick-list {
		margin-left: -20px;
		margin-right: -20px;
	}

	.slick-slide {
		padding: 0 20px;
		position: relative;
	}
}

.konte-carousel__slide-index {
	line-height: 1;
	position: absolute;
	left: 0;
	top: 10px;
	opacity: 0;
	transform: rotate(-90deg) translate(-100%, -50%);
	transform-origin: top left;
	transition: opacity 0.8s, top 0.4s;

	.indexs-initialized & {
		opacity: 1;
		top: 0;
	}
}

.konte-carousel__slide-index-number {
	@include font-size(14/16);
	font-weight: 600;
	margin-left: 10px;
}

.konte-carousel__arrow {
	color: $color__dark;
	line-height: 38px;
	width: 40px;
	height: 40px;
	padding: 0;
	border: 1px solid;
	background: transparent;
	position: absolute;
	z-index: 9;

	&:hover {
		color: #fff;
		border-color: $color__dark;
		background-color: $color__dark;
	}

	.svg-icon {
		vertical-align: middle;
	}
}

.konte-carousel--arrows-center {
	.slick-prev {
		left: -70px;
		top: 35%;
	}

	.slick-next {
		right: -70px;
		top: 35%;
	}
}

.konte-carousel--arrows-top-right {
	.slick-prev {
		right: 60px;
		top: -115px;
	}

	.slick-next {
		right: 0;
		top: -115px;
	}
}

.konte-carousel--dots-left .slick-dots {
	text-align: left;
	margin-left: -7px;
}

.konte-carousel--dots-center .slick-dots {
	text-align: center;
}

.konte-carousel--dots-right .slick-dots {
	text-align: right;
	margin-right: -7px;
}

.konte-carousel--free-mode {
	overflow: visible;

	.slick-list {
		overflow: visible;
	}

	.konte-carousel-item__title {
		@include font-size(30/16);
		margin: 36px 0 18px 0;
	}
}

.konte-carousel--gap-20 {
	.slick-list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.slick-slide {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.konte-carousel--gap-30 {
	.slick-list {
		margin-left: -15px;
		margin-right: -15px;
	}

	.slick-slide {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.konte-carousel--gap-60 {
	.slick-list {
		margin-left: -30px;
		margin-right: -30px;
	}

	.slick-slide {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.konte-carousel--gap-90 {
	.slick-list {
		margin-left: -45px;
		margin-right: -45px;
	}

	.slick-slide {
		padding-left: 45px;
		padding-right: 45px;
	}
}

.konte-carousel-item > a {
	transition: none;
}

.konte-carousel-item__title {
	color: inherit;
	margin: 30px 0 12px 0;
}