.konte-category-banner {
	margin-bottom: 30px;

	span:empty,
	h4:empty {
		display: none;
	}

	img {
		display: block;
	}

	&.has-sub-image {
		padding-top: 100px;

		&.align-left {
			padding-right: 100px;
		}

		&.align-right {
			padding-left: 100px;
		}
	}

	&.align-left {
		.konte-category-banner__category {
			transform: translateX(-100%) rotate(-90deg);
			transform-origin: top right;
			left: -55px;
		}

		.konte-category-banner__sub-image img {
			transform: translate(50%, -50%);
			float: right;
		}
	}

	&.align-right {
		display: flex;
		justify-content: flex-end;

		.konte-category-banner__category {
			transform: rotate(-90deg);
			transform-origin: top right;
			right: -35px;
		}

		.konte-category-banner__sub-image img {
			transform: translate(-50%, -50%);
		}
	}

	&.title-middle {
		.konte-category-banner__content {
			width: 100%;
			position: absolute;
			top: 50%;
			padding: 0 30px;
			transform: translate(-50%, -50%);
		}

		&.has-sub-image .konte-category-banner__content {
			margin-top: 50px;
		}

		&.align-left {
			padding-right: 245/685*100%;

			.konte-category-banner__link {
				padding-right: 0;
				display: block;
			}

			.konte-category-banner__content {
				right: 0;
				transform: translate(50%, -50%);
				text-align: right;
			}
		}

		&.align-right {
			padding-left: 245/685*100%;

			.konte-category-banner__link {
				padding-left: 0;
			}

			.konte-category-banner__content {
				left: 0;
			}
		}
	}
}

.konte-category-banner__link {
	display: inline-block;
	position: relative;
	max-width: 100%;
}

.konte-category-banner__category {
	@include font-size(20/16);
	line-height: 1;
	display: inline-block;
	position: absolute;
	top: 0;
}

.konte-category-banner__image {
	display: block;
	position: relative;
}

.konte-category-banner__sub-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	img {
		max-width: 200px;
		max-height: 200px;
	}
}

.konte-category-banner__content {
	display: block;
}

.konte-category-banner__title {
	@include font-size(39/16);
	font-weight: 400;
	line-height: 1.2;
	margin: 30px 0 23px 0;
}

.konte-category-banner__button {
	display: inline-block;
	position: relative;
	padding-bottom: 4px;

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20px;
		border-bottom: 2px solid;
		transition: width 0.4s;
	}

	&:hover:after {
		width: 100%;
	}
}
