.konte-chart {
	text-align: center;
	position: relative;
	display: inline-block;

	canvas {
		max-width: 100%;
	}
}

.konte-chart__text {
	@include font-size(20/16);
	font-weight: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	transform: translate(-50%, -50%);
	line-height: 32px;
	vertical-align: top;
}