.vc_custom_heading {
	line-height: 1.3;
	margin: 0;

	&.separated_link {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	.heading-link {
		@include font-size(1);
		font-weight: 400;
		text-transform: uppercase;
	}

	&.font-weight-normal {
		font-weight: 400;
	}

	&.font-weight-medium {
		font-weight: 500;
	}

	&.font-weight-bold {
		font-weight: 700;
	}
}