.konte-icon-box {
	&.box-align-center {
		text-align: center;
	}

	&.box-align-right {
		text-align: right;
	}
}

.konte-icon-box__icon {
	@include font-size(56/16);
	line-height: 1;
	display: inline-block;
	margin-bottom: 22px;
}

.konte-icon-box__title {
	@include font-size(24/16);
	color: inherit;
	font-weight: 500;
	margin: 0 0 22px 0;
}

.konte-icon-box__content {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
