.konte-info-list {
	@include font-size(14/16);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: flex;
		margin-bottom: 18px;
	}

	.info-name {
		font-weight: 500;
		text-transform: uppercase;
		flex: 0 0 110px;
	}

	.info-value {
		&,
		a {
			color: $color__gray;
		}

		a:hover {
			color: $color__darker;
		}
	}
}