.konte-instagram {
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			margin: 0;

			&:hover {
				opacity: 0.9;
			}

			img {
				display: block;
			}
		}
	}

	@for $i from 2 through 8 {
		.columns-#{$i} li {
			width: (100%/$i);
		}
	}
}

.konte-instagram--cropped > ul {
	li {
		img {
			display: none;
		}

		a {
			display: block;
			background: no-repeat center center;
			background-size: cover;

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
	}
}

.konte-instagram-carousel {
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		position: relative;

		li {
			margin: 0;
		}
	}

	.konte-instagram-carousel__arrow {
		color: inherit;
		line-height: 1;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		border: 1px solid $color__dark;
		background: transparent;
		width: 40px;
		height: 40px;

		&:hover {
			color: #fff;
			background-color: $color__dark;
		}
	}

	.slick-prev {
		left: -175px;
	}

	.slick-next {
		right: -175px;
	}

	.slick-dots {
		text-align: center;
		margin-top: 40px;
	}
}