.konte-product-carousel2 {
	.slick-list  {
		overflow: visible;
	}

	ul.products li.product {
		// width: 390px;
		// height: 440px;
		width: auto;
		max-width: 390px;
		position: relative;

		.product-link {
			display: block;
			width: 100%;
			height: 100%;
			background: #fff;
		}

		img {
			display: block;
			margin: 0 auto;
			max-height: 100%;
			max-width: 100%;
		}

		.product-summary {
			text-align: left;
			position: absolute;
			top: 0;
			left: 20px;
			padding: 30px 40px 40px 40px;
		}

		.product-title {
			@include font-size(24/16);
			font-weight: 400;
			margin: 0 0 4px 0;
		}

		.product-price {
			@include font-size(20/16);
		}

		.add-to-cart {
			font-weight: 500;
			position: absolute;
			bottom: 0;
			left: 20px;
			margin: 0 0 40px 40px;
		}
	}

	.slick-slider {
		padding-bottom: 60px;
	}

	.slick-arrow {
		color: inherit;
		line-height: 1;
		text-align: center;
		position: absolute;
		bottom: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		border: 1px solid;
		background: transparent;

		.svg-icon {
			@include font-size(16/16);
		}

		&.slick-disabled {
			opacity: 0.5;
		}

		&.slick-next {
			left: 80px;
		}

		&.slick-prev {
			left: 20px;
		}

		&:hover {
			color: #fff;
			background-color: $color__dark;
		}
	}

	&.arrow-light {
		.slick-arrow {
			color: #fff;

			&:hover {
				color: $color__dark;
				border-color: #fff;
				background-color: #fff;
			}
		}
	}
}