.konte-product-grid {
	ul.products {
		display: flex;
		flex-wrap: wrap;

		&:before,
		&:after {
			display: none;
		}
	}

	&.has-heading li.product.first {
		clear: none;
	}
}

.konte-product-grid__head {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 20px;
		border-bottom: 2px solid;
	}
}

.konte-product-grid__title {
	@include font-size(70/16);
	font-weight: 300;
	line-height: (80/70);
	margin: 0 0 36px;
}

.konte-product-grid__description {
	@include font-size(1);
	font-weight: 300;
}
