.konte-product-masonry {
	ul.products {
		display: flex;
		flex-wrap: wrap;
	}

	ul.products li.product {
		width: 25%;

		&.first {
			clear: none;
		}

		.product-thumbnail {
			padding-bottom: 400/320*100%;

			> a,
			> .slick-list {
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.woocommerce-loop-product__title {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-height: 1.55556em;
		}

		&:nth-child(10n+2),
		&:nth-child(10n+6) {
			width: 50%;

			.product-thumbnail {
				padding-bottom: 920/680*100%;
			}
		}
	}
}

.konte-product-masonry__head {
	.konte-dash {
		line-height: 2px;
		display: block;
	}
}

.konte-product-masonry__title {
	@include font-size(40/16);
	color: inherit;
	font-weight: 500;
	line-height: (60/40);
	margin: 54px 0 36px;
	word-spacing: 140px;
}