.vc_progress_bar.wpb_content_element {
	overflow: hidden;

	.vc_single_bar {
		height: 8px;
		box-shadow: none;
		border-radius: 0;
		background-color: $color__lighter;
		margin-bottom: 70px;
		margin-top: 30px;

		.vc_label {
			@include font-size(1);
			color: $color__dark !important;
			font-weight: 600;
			padding: 0;
			text-shadow: none !important;
			top: -35px;
		}

		.vc_label_units {
			@include font-size(14/16);
			font-weight: 500;
			text-align: right;
			position: absolute;
			top: -35px;
			right: 0;
		}

		.vc_bar {
			box-shadow: none;
			border-radius: 0;
			background-color: $color__dark;
		}
	}
}