.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic {
	.vc_tta-tabs-container {
		.vc_tta-tab {
			padding-left: 45px;
			padding-right: 45px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		.vc_tta-tab > a {
			@include font-size(20/16);
			color: $color__gray;
			font-weight: 500;
			padding: 0;
			border-radius: 0;
			border: 0;
			border-bottom: 2px solid transparent;
			background-color: transparent;
			transition: 0.4s;

			&:hover {
				color: $color__dark;
			}
		}

		.vc_tta-tab.vc_active > a {
			color: $color__dark;
			border-bottom-color: $color__dark !important;
		}
	}

	.vc_tta-panels-container {
		.vc_tta-panels,
		.vc_tta-panel-body {
			border: 0;
		}

		.vc_tta-panels {
			background-color: transparent;
		}

		.vc_tta-panel-body {
			color: $color__gray;
			padding: 36px 0;

			> .wpb_content_element:first-child > .wpb_wrapper > p:first-child {
				margin-top: 0;
			}
		}
	}

	&.vc_tta-controls-align-center .vc_tta-panels {
		text-align: center;
	}

	&.vc_tta-tabs-position-left,
	&.vc_tta-tabs-position-right {
		.vc_tta-tab {
			padding: 14px 0;
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 0;
				position: absolute;
				left: 0;
				top: 50%;
				border-bottom: 2px solid $color__dark;
				transition: width 0.4s;
			}

			&:first-child {
				margin-top: -14px;
			}
		}

		.vc_tta-tab > a {
			border-bottom-width: 0;

			.vc_tta-title-text {
				transition: transform 0.4s;
				display: inline-block;
			}
		}

		.vc_tta-tab.vc_active {
			&:before {
				width: 20px;
			}

			.vc_tta-title-text {
				transform: translateX(30px);
			}
		}

		.vc_tta-panel-body {
			padding: 0;
		}
	}

	&.vc_tta-tabs-position-left {
		.vc_tta-tabs-list {
			text-align: left;
			padding-right: 100px;
		}

		.vc_tta-tab.vc_active {
			&:before {
				width: 20px;
			}

			.vc_tta-title-text {
				transform: translateX(30px);
			}
		}
	}

	&.vc_tta-tabs-position-right {
		.vc_tta-tabs-list {
			padding-left: 100px;
		}

		.vc_tta-tab:before {
			left: auto;
			right: 0;
		}

		.vc_tta-tab.vc_active {
			&:before {
				width: 20px;
			}

			.vc_tta-title-text {
				transform: translateX(-30px);
			}
		}
	}
}

.konte-tabs__nav {
	text-align: center;
	margin: 0 0 60px 0;
	padding: 0;
	list-style: none;

	li {
		@extend .underline-hover;
		@include font-size(20/16);
		font-weight: 500;
		display: inline-block;
		margin: 0 25px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:after {
			border-bottom-width: 2px;
		}
	}
}

.konte-tabs__panels {
	position: relative;
}

.konte-tabs__panel {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 0.4s;

	&.active {
		opacity: 1;
		display: block;
		visibility: visible;
		position: static;
	}
}
