/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.woocommerce-form .show-password-input {
	right: auto;
	left: 0;
}

label.woocommerce-form__label-for-checkbox {
	padding-left: 0;
	padding-right: 30px;
}

label.woocommerce-form__label-for-checkbox span:before, label.woocommerce-form__label-for-checkbox span:after {
	left: auto;
	right: 0;
	margin-right: 0;
	margin-left: 10px;
}

.form-row-first,
.form-row-last {
	float: right;
}

.form-row-first {
	padding-right: 0;
	padding-left: 15px;
}

.form-row-last {
	padding-left: 0;
	padding-right: 15px;
}

.star-rating .user-rating {
	left: auto;
	right: 0;
}

.woocommerce .tawcvs-swatches .swatch:first-child {
	margin-right: 0;
}

.woocommerce .tawcvs-swatches .swatch:last-child {
	margin-right: 22px;
}

.woocommerce-tabs ul.tabs {
	text-align: right;
}

.quick-view-panel .product .woocommerce-badges {
	left: auto;
	right: 60px;
}

.quick-view-panel .product .add-to-wishlist-button {
	right: auto;
	left: 60px;
}

.quick-view-modal .button-close {
	left: 32px;
}

.quick-view-modal .woocommerce .product .woocommerce-badges {
	left: auto;
	right: 30px;
}

.quick-view-modal .woocommerce .product .woocommerce-product-gallery {
	float: right;
}

.quick-view-modal .woocommerce .product .woocommerce-product-gallery .flex-control-nav {
	left: auto;
	right: 30px;
}

.quick-view-modal .woocommerce .product .woocommerce-product-gallery .flex-control-nav a {
	padding-left: 0;
	padding-right: 20px;
}

.quick-view-modal .woocommerce .product .woocommerce-product-gallery .flex-control-nav a:before {
	left: auto;
	right: 0;
}

.quick-view-modal .woocommerce .product .woocommerce-product-gallery .flex-control-nav .flex-active {
	padding-left: 0;
	padding-right: 35px;
}

.quick-view-modal .woocommerce .product .summary {
	float: left;
}

.quick-view-modal .woocommerce .product .product-share,
.quick-view-modal .woocommerce .product .add-to-wishlist-button {
	left: auto;
	right: 30px;
}

.quick-view-modal .woocommerce .product .product-share .socials {
	left: auto;
	right: 0;
}

.notifyjs-konte-base {
	padding-right: 60px;
	padding-left: 20px;
}

.notifyjs-konte-base .message-icon {
	left: auto;
	right: 20px;
}

.woocommerce-pagination ul .next .svg-icon {
	margin-left: -4px;
	margin-right: 10px;
	transform: rotate(180deg);
}

.woocommerce-pagination ul .prev .svg-icon {
	margin-right: -4px;
	margin-left: 10px;
	transform: rotate(180deg);
}

.breadcrumbs .delimiter {
	transform: rotate(180deg);
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget .product_list_widget img {
	margin-right: 0;
	margin-left: 30px;
}

.products-filter-widget .swatch:first-child {
	margin-right: 0;
}

.widget_layered_nav_filters .chosen a {
	padding-right: 0;
	padding-left: 25px;
	background-position: center left;
}

.widget_shopping_cart_content a.remove {
	right: auto;
	left: 0;
}

.widget_shopping_cart_content .woocommerce-mini-cart-item__thumbnail {
	padding-right: 0;
	padding-left: 30px;
}

.widget_shopping_cart_content .woocommerce-mini-cart-item__name {
	padding-right: 0;
	padding-left: 20px;
}

.widget_shopping_cart_content .woocommerce-mini-cart-item__qty .price {
	float: left;
}

.widget_shopping_cart_content .quantity .current {
	padding-left: 15px;
	padding-right: 0;
}

.widget_shopping_cart_content .quantity .current .svg-icon {
	right: auto;
	left: 0;
}

.widget_shopping_cart_content .total {
	text-align: left;
}

.widget_shopping_cart_content .total strong {
	float: right;
}

/*--------------------------------------------------------------
# Single Product
--------------------------------------------------------------*/
.woocommerce div.product .woocommerce-product-gallery {
	float: right;
}

.woocommerce div.product .woocommerce-product-gallery .flex-viewport {
	direction: ltr;
}

.woocommerce div.product .summary {
	float: left;
	padding-left: 0;
	padding-right: 60px;
}

.woocommerce div.product .woocommerce-review-link {
	margin-right: 6px;
	margin-left: 0;
}

.woocommerce div.product .quantity {
	margin-right: 0;
	margin-left: 16px;
}

.woocommerce div.product .variations .product-size-guide {
	float: left;
}

.woocommerce div.product .variations select {
	padding-right: 0;
	padding-left: 20px;
	background-position: left center;
}

.woocommerce div.product .product_meta .label {
	padding-left: 10px;
	padding-right: 0;
}

.product-toolbar .breadcrumbs {
	float: right;
}

.product-toolbar .post-navigation {
	float: left;
}

.product-toolbar .post-navigation .nav-links .nav-next {
	padding-left: 0;
	padding-right: 0;
	border-right: 0;
}

.konte-size-guide .konte-tabs__nav {
	text-align: right;
}

.konte-size-guide .konte-tabs__nav li:first-child {
	margin-right: 0;
	margin-left: 25px;
}

.konte-size-guide .konte-tabs__nav li:last-child {
	margin-right: 25px;
	margin-left: 0;
}

.woocommerce-tabs.panels-offscreen .panel {
	right: auto;
	left: 0;
	transform: translateX(-100%);
}

.woocommerce-tabs.panels-offscreen .button-close {
	right: auto;
	left: 60px;
	flex-direction: row-reverse;
}

.woocommerce-Reviews .comment .star-rating,
.woocommerce-Reviews .review .star-rating {
	float: left;
}

.woocommerce-Reviews .comment .meta,
.woocommerce-Reviews .review .meta {
	display: flex;
	align-items: center;
}

.woocommerce-Reviews .comment .woocommerce-review__published-date,
.woocommerce-Reviews .review .woocommerce-review__published-date {
	margin-left: 0;
	margin-right: 20px;
}

.woocommerce-Reviews .comment-form .comment-form-rating label {
	margin-right: 0;
	margin-left: 26px;
}

.woocommerce div.product.layout-v1 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;
}

.woocommerce div.product.layout-v1 .woocommerce-badges {
	left: auto;
	right: 60px;
}

.woocommerce div.product.layout-v1 .summary {
	padding-left: 60px;
}

.woocommerce div.product.layout-v1 .flex-control-nav {
	left: auto;
	right: 60px;
}

.woocommerce div.product.layout-v1 .flex-control-nav a {
	padding-left: 0;
	padding-right: 20px;
}

.woocommerce div.product.layout-v1 .flex-control-nav a:before {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v1 .flex-control-nav .flex-active {
	padding-left: 0;
	padding-right: 35px;
}

.woocommerce div.product.layout-v1 .product-share,
.woocommerce div.product.layout-v1 .add-to-wishlist-button {
	left: auto;
	right: 60px;
}

.woocommerce div.product.layout-v1 .product-share .socials {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v2 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;
}

.woocommerce div.product.layout-v2 .woocommerce-badges {
	left: auto;
	right: 60px;
	margin-right: 20px;
	margin-left: 0;
}

.woocommerce div.product.layout-v2 .woocommerce-product-gallery__image {
	float: right;
}

.woocommerce div.product.layout-v2 .woocommerce-product-gallery__image:nth-child(2n+1) {
	clear: right;
}

.woocommerce div.product.layout-v2 .product-share .sharing-icon span,
.woocommerce div.product.layout-v2 .add-to-wishlist-button .button-text {
	margin-right: 6px;
	margin-left: 0;
}

.woocommerce div.product.layout-v3 .woocommerce-badge {
	margin-left: 0;
	margin-right: 10px;
}

.woocommerce div.product.layout-v3 .swatches-support .variations td.value {
	text-align: right;
}

.woocommerce div.product.layout-v3 .product-share .sharing-icon span,
.woocommerce div.product.layout-v3 .add-to-wishlist-button .button-text {
	margin-right: 6px;
	margin-left: 0;
}

.woocommerce div.product.layout-v3 .add-to-wishlist-button {
	float: right;
}

.woocommerce div.product.layout-v3 .product-share {
	float: left;
}

.woocommerce div.product.layout-v3 .product-share .socials {
	left: 0;
	right: auto;
}

.woocommerce div.product.layout-v3 .product-share .socials a:last-child {
	margin-left: 0;
}

.woocommerce div.product.layout-v4 .woocommerce-badges {
	left: auto;
	right: 150px;
}

.woocommerce div.product.layout-v4 .woocommerce-product-gallery {
	padding-left: 0;
	padding-right: 130px;
}

.woocommerce div.product.layout-v4 .flex-control-thumbs {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v4 .summary {
	padding-left: 60px;
	padding-right: 110px;
}

.woocommerce div.product.layout-v4 .qty-dropdown .svg-icon {
	float: left;
}

.woocommerce div.product.layout-v4 .single_add_to_cart_button .shopping-cart-icon {
	margin-right: 0;
	margin-left: 6px;
}

.woocommerce div.product.layout-v4 .add-to-wishlist-button {
	margin-left: 0;
	margin-right: 36px;
}

.woocommerce div.product.layout-v4 .add-to-wishlist-button .button-text {
	margin-left: 0;
	margin-right: 4px;
}

.woocommerce div.product.layout-v4 .product-share {
	float: left;
}

.woocommerce div.product.layout-v4 .product-share .socials a:first-child {
	margin-right: 0;
}

.woocommerce div.product.layout-v4 .product-share .socials a:last-child {
	margin-right: 10px;
}

.woocommerce div.product.layout-v4 .product_meta {
	margin-right: 0;
	margin-left: 200px;
}

.woocommerce div.product.layout-v4.product-type-grouped .quantity-dropdown {
	text-align: right;
}

.woocommerce div.product.layout-v5 {
	left: auto;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;
}

.woocommerce div.product.layout-v5 .summary {
	padding-right: 240px;
	padding-left: calc(50vw - 700px + 60px);
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image {
	float: right;
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image:nth-child(6n+2) {
	clear: right;
	text-align: left;
	padding-right: 40px;
	padding-left: 10px;
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image:nth-child(6n+3) {
	text-align: left;
	padding-right: 115px;
	padding-left: 40px;
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image:nth-child(6n+5) {
	clear: right;
	padding-right: 60px;
	padding-left: 95px;
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image:nth-child(6n+6) {
	padding-right: 50px;
	padding-left: 0;
}

.woocommerce div.product.layout-v5 .product-share,
.woocommerce div.product.layout-v5 .add-to-wishlist-button {
	left: auto;
	right: 60px;
}

.woocommerce div.product.layout-v5 .product-share .socials {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v6 .woocommerce-badges {
	left: auto;
	right: 110px;
}

.woocommerce div.product.layout-v6 .woocommerce-product-gallery {
	padding-left: 0;
	padding-right: 90px;
}

.woocommerce div.product.layout-v6 .flex-control-thumbs {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v6 .summary {
	padding-left: 90px;
	padding-right: 97px;
}

.woocommerce div.product.layout-v6 .product-share {
	float: left;
}

.woocommerce div.product.layout-v6 .product-share .socials {
	left: 0;
	right: auto;
}

.woocommerce div.product.layout-v6 .product-share .socials a:last-child {
	margin-left: 0;
}

.woocommerce div.product.layout-v6 .add-to-wishlist-button {
	float: right;
}

.woocommerce div.product.layout-v6 .add-to-wishlist-button .button-text {
	margin-right: 6px;
	margin-left: 0;
}

.woocommerce div.product.layout-v6 .woocommerce-tabs .tabs {
	float: right;
	border-right: 0;
	border-left: 1px solid #e3e7e8;
}

.woocommerce div.product.layout-v6 .woocommerce-tabs .tabs a {
	padding-left: 0;
	padding-right: 30px;
	transform: translateX(30px);
}

.woocommerce div.product.layout-v6 .woocommerce-tabs .tabs a:before {
	left: auto;
	right: 0;
}

.woocommerce div.product.layout-v6 .woocommerce-tabs .panel {
	margin-left: 0;
	margin-right: 239px;
	padding-left: 0;
	padding-right: 85px;
	border-left: 0;
	border-right: 1px solid #e3e7e8;
}

.woocommerce div.product.layout-v7 .woocommerce-badges {
	left: auto;
	right: 20px;
}

.woocommerce div.product.layout-v7 .flex-control-thumbs li {
	float: right;
}

.woocommerce div.product.layout-v7 .flex-control-thumbs li:first-child {
	margin-right: 0;
}

.woocommerce div.product.layout-v7 .flex-control-thumbs li:last-child {
	margin-right: 10px;
}

.woocommerce div.product.layout-v7 .summary {
	float: right;
	padding-left: 90px;
	padding-right: 60px;
}

.woocommerce div.product.layout-v7 .side-products {
	float: right;
	padding-left: 0;
	padding-right: 40px;
	border-right: 1px solid #e3e7e8;
	border-left: 0;
}

.woocommerce div.product.layout-v7 .add-to-wishlist-button {
	float: right;
}

.woocommerce div.product.layout-v7 .add-to-wishlist-button .button-text {
	margin-right: 6px;
	margin-left: 0;
}

.woocommerce div.product.layout-v7 .product-share {
	float: left;
}

.woocommerce div.product.layout-v7 .product-share .socials {
	right: auto;
	left: 0;
}

.woocommerce div.product.layout-v7 .product-share .socials a:last-child {
	margin-left: 0;
}

.woocommerce div.product.layout-v7 .woocommerce-tabs .tabs li:first-child {
	margin-left: 60px;
	margin-right: 0;
}

.woocommerce div.product.layout-v7 .woocommerce-tabs .tabs li:last-child {
	margin-right: 60px;
	margin-left: 0;
}

.side-products li img {
	margin-right: 0;
	margin-left: 20px;
}

/*--------------------------------------------------------------
# Product Catalog
--------------------------------------------------------------*/
.woocommerce-products-header .page-title {
	float: right;
}

.woocommerce-products-header .breadcrumbs {
	float: left;
}

.products-quick-search .products-quick-search-form {
	display: flex;
	flex-wrap: wrap;
}

.products-quick-search .select2 .select2-selection--single .select2-selection__rendered {
	padding-right: 0;
	padding-left: 32px;
}

.products-tools .columns-switcher .column-seletor:first-child {
	margin-left: 13px;
	margin-right: 0;
}

.products-tools .columns-switcher .column-seletor:last-child {
	margin-left: 0;
	margin-right: 13px;
}

.products-tools .woocommerce-ordering .select2 .select2-selection--single .select2-selection__rendered {
	padding-right: 0;
	padding-left: 32px;
}

.products-tools .products-filter-toggle .toggle-filters {
	margin-right: 0;
	margin-left: 30px;
}

.products-tools .products-filter-toggle .svg-icon {
	margin-right: 0;
	margin-left: 13px;
}

.products-tools .products-filter-toggle .remove-filtered {
	margin-left: 0;
	margin-right: 40px;
}

.products-tools .products-filter-toggle .remove-filtered .svg-icon {
	margin-right: 16px;
	margin-left: 0;
}

.products-tools .products-filter.dropdown-panel {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -50vw;
}

.products-tools .products-filter.dropdown-panel .products-filter-widget .reset-button {
	margin-right: 40px;
	margin-left: 0;
}

.products-tools .products-filter.dropdown-panel .products-filter-widget .products-loader {
	margin-right: 40px;
	margin-left: 0;
}

.products-tools .products-filter-container .button-close {
	right: auto;
	left: 15px;
	flex-direction: row-reverse;
}

.products-tools .products-tabs a:first-child {
	margin-right: 0;
}

.products-tools .products-tabs a:last-child {
	margin-right: 38px;
}

.products-toolbar.layout-v1 .woocommerce-ordering {
	float: right;
}

.products-toolbar.layout-v1 .columns-switcher,
.products-toolbar.layout-v1 .woocommerce-result-count {
	float: left;
}

.products-toolbar.layout-v1 .columns-switcher {
	margin-left: 0;
	margin-right: 55px;
}

.products-toolbar.layout-v2 .woocommerce-result-count {
	float: right;
}

.products-toolbar.layout-v2 .woocommerce-ordering {
	float: left;
}

.products-toolbar.layout-v3 .products-filter-toggle {
	float: right;
}

.products-toolbar.layout-v3 .woocommerce-ordering,
.products-toolbar.layout-v3 .woocommerce-result-count {
	float: left;
}

.products-toolbar.layout-v3 .woocommerce-result-count {
	margin-right: 0;
	margin-left: 55px;
}

.products-toolbar.layout-v4 .products-tabs,
.products-toolbar.layout-v4 .woocommerce-ordering {
	float: right;
}

.products-toolbar.layout-v4 .columns-switcher,
.products-toolbar.layout-v4 .products-filter-toggle {
	float: left;
}

.products-toolbar.layout-v4 .products-filter-toggle {
	margin-left: 0;
	margin-right: 30px;
	padding-left: 0;
	padding-right: 30px;
}

.products-toolbar.layout-v4 .products-filter-toggle:before {
	left: auto;
	right: 0;
}

.products-toolbar.layout-v4 .products-filter-toggle .toggle-filters {
	margin-left: 0;
}

.products-toolbar.layout-v4 .toggle-filters {
	flex-direction: row;
}

.products-toolbar.layout-v5 .products-tabs,
.products-toolbar.layout-v5 .woocommerce-ordering {
	float: right;
}

.products-toolbar.layout-v5 .woocommerce-result-count,
.products-toolbar.layout-v5 .products-filter-toggle {
	float: left;
}

.products-toolbar.layout-v5 .products-filter-toggle {
	margin-left: 0;
	margin-right: 30px;
	padding-left: 0;
	padding-right: 30px;
}

.products-toolbar.layout-v5 .products-filter-toggle:before {
	left: auto;
	right: 0;
}

.products-toolbar.layout-v5 .products-filter-toggle .toggle-filters {
	margin-left: 0;
}

.products-toolbar.layout-v5 .toggle-filters {
	flex-direction: row;
}

ul.products li.product {
	float: right;
}

ul.products li.product .woocommerce-badges {
	left: auto;
	right: 15px;
}

ul.products li.product .buttons {
	text-align: left;
}

ul.products li.product .button {
	margin-left: 0;
	margin-right: 16px;
}

ul.products li.product .button:first-child {
	margin-right: 0;
	float: right;
}

ul.products li.product .button:nth-child(2) {
	margin-right: 0;
}

ul.products li.product .ajax_add_to_cart.loading:before {
	margin-right: 0;
	margin-left: 10px;
}

ul.products li.product .ajax_add_to_cart.added:after {
	left: auto;
	right: 2px;
}

ul.products.hover-simple .product-inner .add-to-wishlist-button {
	right: auto;
	left: 18px;
}

.products-carousel {
	margin-left: auto;
	margin-right: -50vw;
	left: auto;
	right: 50%;
}

/*--------------------------------------------------------------
# Shopping Cart
--------------------------------------------------------------*/
table.cart .actions .button {
	float: left;
}

table.cart .actions .empty-cart-button {
	margin-left: 100px;
	margin-right: 0;
}

table.cart .coupon .button {
	right: auto;
	left: 0;
}

.cart-collaterals .cart_totals h2 {
	float: right;
}

.cart-collaterals .cart-subtotal-table,
.cart-collaterals .order-total-table {
	float: left;
}

.cart-collaterals .cart-subtotal-table td,
.cart-collaterals .order-total-table td {
	text-align: left;
}

.cart-collaterals .wc-proceed-to-checkout {
	text-align: left;
}

.shipping ul label {
	padding-left: 0;
	padding-right: 30px;
}

.shipping ul label:before, .shipping ul label:after {
	left: auto;
	right: 0;
	margin-right: 0;
	margin-left: 10px;
}

.floating-cart-icon {
	right: auto;
	left: 60px;
}

.floating-cart-icon .counter {
	left: auto;
	right: 0;
	transform: translate(50%, -50%);
}

.gotop ~ .floating-cart-icon {
	right: auto;
	left: 120px;
}

/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/
form.woocommerce-checkout .woocommerce-input-wrapper,
form.woocommerce-checkout .select2-container,
form.woocommerce-checkout .input-text {
	margin-right: 0;
	margin-left: 195px;
}

form.woocommerce-checkout .form-row-first .woocommerce-input-wrapper,
form.woocommerce-checkout .form-row-first .input-text,
form.woocommerce-checkout .form-row-first .select2-container {
	margin-left: 0;
}

form.woocommerce-checkout .mailchimp-newsletter,
form.woocommerce-checkout .mc4wp-checkbox-woocommerce {
	padding-left: 0;
	padding-right: 195px;
}

.woocommerce-account-fields .form-row.create-account,
.woocommerce-account-fields .woocommerce-password-hint,
.woocommerce-account-fields .woocommerce-password-strength {
	padding-left: 0;
	padding-right: 195px;
}

.woocommerce-shipping-fields h3 {
	padding-left: 0;
	padding-right: 195px;
}

.woocommerce-checkout-review-order-table tfoot td {
	text-align: left;
}

.woocommerce-checkout-review-order-table tfoot .order-total td {
	text-align: left;
}

.woocommerce-checkout-review-order-table tfoot .shipping td {
	text-align: right;
}

.woocommerce-checkout-review-order-table .product-item .product-thumbnail {
	padding-left: 10px;
	padding-right: 0;
}

.woocommerce-checkout-review-order-table .product-item .product-subtotal {
	text-align: left;
}

.wc_payment_methods li > label {
	padding-left: 0;
	padding-right: 30px;
}

.wc_payment_methods li > label:before, .wc_payment_methods li > label:after {
	left: auto;
	right: 0;
	margin-right: 0;
	margin-left: 10px;
}

.wc_payment_methods .about_paypal {
	float: left;
}

.wc_payment_methods li.payment_method_braintree_cc > input[name="payment_method"] + label,
.wc_payment_methods li.payment_method_braintree_paypal > input[name="payment_method"] + label {
	padding-left: 30px;
}

.woocommerce-checkout-payment > h4 {
	float: right;
}

.woocommerce-checkout-payment .payment_methods,
.woocommerce-checkout-payment .place-order {
	margin-left: 0;
	margin-right: 195px;
}

.woocommerce-checkout-2-columns form.checkout .col2-set {
	float: right;
}

.woocommerce-checkout-2-columns #order_review_heading,
.woocommerce-checkout-2-columns .woocommerce-checkout-review-order {
	float: left;
}

.woocommerce-checkout-2-columns .select2 .select2-selection--single .select2-selection__arrow {
	right: auto;
	left: 20px;
}

.woocommerce-checkout-2-columns .woocommerce-shipping-fields h3 {
	padding-right: 0;
}

.woocommerce-checkout-2-columns form.woocommerce-checkout .mailchimp-newsletter,
.woocommerce-checkout-2-columns form.woocommerce-checkout .mc4wp-checkbox-woocommerce {
	padding-right: 0;
}

.woocommerce-checkout-2-columns .woocommerce-checkout-payment .payment_methods {
	margin-right: 0;
}

/*--------------------------------------------------------------
# Account
--------------------------------------------------------------*/
.woocommerce-account-login .login-tabs-nav .tab-nav {
	margin-right: auto;
	margin-left: 100px;
}

.woocommerce-account-login .login-tabs-nav .tab-nav:last-child {
	margin-left: 0;
}

.woocommerce-account-login .u-columns .u-column1,
.woocommerce-account-login .u-columns .u-column2,
.woocommerce-account-login .u-columns .u-column1,
.woocommerce-account-login .u-columns .u-column2 {
	float: right;
}

.woocommerce-account-login .u-columns .u-column2.active,
.woocommerce-account-login .u-columns .u-column2.active {
	transform: translateX(100%);
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 1440px) {
	.woocommerce div.product.layout-v5 .summary {
		padding-right: 120px;
	}
	.woocommerce div.product.layout-v6 .summary {
		padding-left: 0;
	}
	.woocommerce div.product.layout-v7 .summary {
		padding-left: 60px;
		padding-right: 40px;
	}
}

@media (max-width: 1199px) {
	.woocommerce div.product.layout-v1 .woocommerce-badges {
		left: auto;
		right: 40px;
	}
	.woocommerce div.product.layout-v1 .summary {
		padding-right: 60px;
		padding-left: 0;
	}
	.woocommerce div.product.layout-v2 .woocommerce-badges {
		left: auto;
		right: 40px;
	}
	.woocommerce div.product.layout-v5 .summary {
		padding-right: 80px;
	}
	.woocommerce div.product.layout-v6 .summary {
		padding-right: 60px;
	}
	.woocommerce div.product.layout-v7 .summary {
		padding-left: 0;
	}
	form.woocommerce-checkout .woocommerce-input-wrapper,
	form.woocommerce-checkout .select2-container,
	form.woocommerce-checkout .input-text {
		margin-left: 0;
	}
	.floating-cart-icon {
		right: auto;
		left: 40px;
	}
	.gotop ~ .floating-cart-icon {
		right: auto;
		left: 100px;
	}
}

@media (max-width: 991px) {
	.woocommerce div.product .flex-control-nav {
		left: auto;
		right: 40px;
	}
	.woocommerce div.product .flex-control-nav li:first-child {
		margin-right: 0;
	}
	.woocommerce div.product .flex-control-nav li:last-child {
		margin-right: 30px;
	}
	.woocommerce div.product .add-to-wishlist-button {
		right: auto;
		left: 0;
	}
	.woocommerce-product-gallery.lightbox-support.zoom-support .flex-control-nav.flex-control-paging,
	.woocommerce-product-gallery.lightbox-support.zoom-support .flex-control-nav.flex-control-thumbs {
		left: auto;
		right: 90px;
	}
	.woocommerce-product-gallery.lightbox-support.zoom-support .woocommerce-product-gallery__trigger {
		left: auto;
		right: 40px;
	}
	.woocommerce div.product.layout-v1 .summary {
		padding-right: 0;
	}
	.woocommerce div.product.layout-v1 .flex-control-nav {
		right: 40px;
	}
	.woocommerce div.product.layout-v1 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v1 .product-share .socials a:last-child {
		margin-left: 0;
	}
	.woocommerce div.product.layout-v1 .add-to-wishlist-button {
		right: auto;
		left: 0;
	}
	.woocommerce div.product.layout-v2 .woocommerce-product-gallery__image:nth-child(2n+1) {
		clear: none;
	}
	.woocommerce div.product.layout-v2 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v2 .product-share .socials a:last-child {
		margin-left: 0;
	}
	.woocommerce div.product.layout-v3 .variations_button .quantity {
		margin-right: 0;
		margin-left: 20px;
	}
	.woocommerce div.product.layout-v3 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v4 .woocommerce-badges {
		right: 0;
	}
	.woocommerce div.product.layout-v4 .woocommerce-product-gallery {
		padding-right: 0;
	}
	.woocommerce div.product.layout-v4 .flex-control-nav li:last-child {
		margin-right: 30px;
	}
	.woocommerce div.product.layout-v4 .summary {
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce div.product.layout-v4 .product-share {
		float: none;
	}
	.woocommerce div.product.layout-v4 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v4 .product-share .socials a:last-child {
		margin-left: 0;
	}
	.woocommerce div.product.layout-v5 .summary {
		padding-right: 40px;
		padding-left: 40px;
	}
	.woocommerce div.product.layout-v5 .add-to-wishlist-button {
		right: auto;
		left: 40px;
	}
	.woocommerce div.product.layout-v5 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v5 .product-share .socials a:last-child {
		margin-left: 0;
	}
	.woocommerce div.product.layout-v6 .woocommerce-badges {
		left: auto;
		right: 0;
	}
	.woocommerce div.product.layout-v6 .woocommerce-product-gallery {
		padding-right: 0;
	}
	.woocommerce div.product.layout-v6 .flex-control-nav li:last-child {
		margin-right: 30px;
	}
	.woocommerce div.product.layout-v6 .summary {
		padding-right: 0;
	}
	.woocommerce div.product.layout-v6 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v6 .woocommerce-tabs .tabs {
		float: none;
		width: auto;
		border-left: 0;
	}
	.woocommerce div.product.layout-v6 .woocommerce-tabs .tabs a {
		padding-right: 0;
		transform: none;
	}
	.woocommerce div.product.layout-v6 .woocommerce-tabs .panel {
		margin-right: 0;
		border-right: 0;
		padding-right: 0;
	}
	.woocommerce div.product.layout-v7 .woocommerce-badges {
		right: 0;
	}
	.woocommerce div.product.layout-v7 .summary {
		padding-right: 0;
	}
	.woocommerce div.product.layout-v7 .flex-control-thumbs li:last-child {
		margin-right: 30px;
	}
	.woocommerce div.product.layout-v7 .product-share .socials a:first-child {
		margin-left: 30px;
	}
	.woocommerce div.product.layout-v7 .woocommerce-tabs .tabs {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.woocommerce div.product .quantity {
		margin-left: 0;
	}
	.woocommerce div.product .swatches-support td.value {
		text-align: right;
	}
	.woocommerce div.product .flex-control-nav {
		right: 20px;
	}
	.woocommerce div.product .flex-control-nav li:last-child {
		margin-right: 15px;
	}
	.woocommerce-product-gallery.lightbox-support.zoom-support .flex-control-nav.flex-control-paging,
	.woocommerce-product-gallery.lightbox-support.zoom-support .flex-control-nav.flex-control-thumbs {
		left: auto;
		right: 50px;
	}
	.woocommerce-product-gallery.lightbox-support.zoom-support .woocommerce-product-gallery__trigger {
		left: auto;
		right: 20px;
	}
	.woocommerce-tabs.panels-offscreen .button-close {
		left: 18px;
		top: 23px;
	}
	.woocommerce div.product.layout-v1 .woocommerce-badges {
		left: auto;
		right: 22px;
	}
	.woocommerce div.product.layout-v1 .flex-control-nav {
		right: 20px;
	}
	.woocommerce div.product.layout-v2 .woocommerce-badges {
		left: auto;
		right: 20px;
		margin-right: 0;
		margin-top: 0;
	}
	.woocommerce div.product.layout-v3 .variations_button .quantity {
		margin-left: 0;
	}
	.woocommerce div.product.layout-v3 .woocommerce-tabs .tabs li:last-child {
		text-align: right;
	}
	.woocommerce div.product.layout-v4 .flex-control-nav {
		right: 20px;
	}
	.woocommerce div.product.layout-v4 .flex-control-nav li:last-child {
		margin-right: 15px;
	}
	.woocommerce div.product.layout-v6 .flex-control-nav {
		right: 20px;
	}
	.woocommerce div.product.layout-v6 .flex-control-nav li:last-child {
		margin-right: 15px;
	}
	.woocommerce div.product.layout-v7 .flex-control-nav li:last-child {
		margin-right: 15px;
	}
	.woocommerce div.product.layout-v7 .woocommerce-tabs .tabs li:last-child {
		margin-right: 0;
	}
	.form-row-first {
		padding-left: 0;
	}
	.form-row-last {
		padding-right: 0;
	}
	form.woocommerce-checkout .mc4wp-checkbox-woocommerce,
	form.woocommerce-checkout .mailchimp-newsletter,
	.woocommerce-account-fields .form-row.create-account,
	.woocommerce-account-fields .woocommerce-password-hint,
	.woocommerce-account-fields .woocommerce-password-strength,
	.woocommerce-shipping-fields h3 {
		padding-right: 0;
	}
	.woocommerce-checkout-payment > h4 {
		float: none;
	}
	.woocommerce-checkout-payment .payment_methods,
	.woocommerce-checkout-payment .place-order {
		margin-right: 0;
	}
	.floating-cart-icon {
		right: auto;
		left: 40px;
	}
	.gotop ~ .floating-cart-icon {
		right: auto;
		left: 80px;
	}
}
