@media (max-width: 1280px) {
	.no-sidebar .alignwide {
		max-width: 100%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.featured-content-carousel.carousel .entry-header {
		padding-left: 40px;
		padding-right: 40px;
	}

	.konte-product-masonry ul.products li.product .product-thumbnail {
		background: #fff;
	}

	.konte-product-masonry ul.products li.product .product-thumbnail {
		padding-bottom: 124%;
	}

	.konte-product-grid__title {
		@include font-size(54/16);
	}
}
