@media (max-width: 414px) {
	// .site-branding .logo img {
	// 	max-width: none;
	// }

	.konte-product-carousel2 ul.products li.product {
		max-width: 280px;
	}

	.mobile-menu-panel {
		.header-mobile {
			display: block;
			opacity: 0;
			transition: opacity 0.2s linear 0.4s;
		}

		&.open .header-mobile {
			opacity: 1;
		}

		.panel {
			width: 100%;
		}
	}
}