@media (max-width: 782px) {
	.admin-bar .mobile-menu-panel {
		top: 46px;
		bottom: 0;
		height: auto;
	}
}

@media (max-width: 767px) {
	.has-small-font-size {
		@include font-size(12/16);
	}

	.has-medium-font-size {
		@include font-size(20/16);
	}

	.has-large-font-size {
		@include font-size(32/16);
		line-height: (80/64);
	}

	.has-huge-font-size {
		@include font-size(48/16);
	}

	.alignleft,
	.alignright {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.konte-container,
	.konte-container-fluid {
		margin-left: 5px;
		margin-right: 5px;
	}

	.topbar {
		display: none;

		&.topbar-mobile {
			display: block;
		}

		.topbar-items {
			width: 100%;
			display: none;
		}
	}

	.topbar-left-items > * {
		margin-right: 20px;
	}

	.topbar-right-items > * {
		margin-left: 20px;
	}

	.topbar-mobile--keep-left .topbar-left-items {
		display: block;
	}

	.topbar-mobile--keep-right .topbar-right-items {
		display: block;
		justify-content: flex-start;
		text-align: left;
	}

	.topbar-mobile--keep-both .topbar-items {
		display: block;
	}

	.topbar-menu > li {
		padding: 0 10px;
	}

	.popup-modal .popup-image {
		display: none;
	}

	.blog-header-content {
		padding-top: 0;

		.blog-search-form,
		.social-icons {
			display: none;
		}

		.header-title {
			text-align: center;
			width: 100%;
		}
	}

	.blog-header-menu {
		display: none;
	}

	.entry-title {
		@include font-size(40/16);
	}

	blockquote {
		@include font-size(20/16);
		padding: 0 40px;
	}

	.wp-block-quote:not(.is-large):not(.is-style-large) {
		padding-left: 40px;
	}

	.social-share {
		a {
			margin-bottom: 10px;

			i {
				margin-right: 0;
			}

			span {
				display: none;
			}
		}

		.social-list {
			left: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.author-info {
		padding: 20px;

		.author-vcard {
			display: none;
		}

		.author-description,
		.author-socials {
			padding-left: 0;
		}
	}

	.post-navigation .nav-links img {
		display: none;
	}

	.related-posts {
		.post {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.comment-list {
		.children {
			margin-left: 0;
			padding-left: 0;
		}

		.depth-1 > .children {
			padding-left: 30px;
			margin-left: 30px;
		}
	}

	.comment-respond {
		.comment-form-author,
		.comment-form-email {
			width: 100%;
		}
	}

	.blog-header-title {
		padding-top: 100px;
		padding-bottom: 70px;

		.page-title {
			@include font-size(42/16);
		}
	}

	.featured-content-carousel {
		.entry-header {
			padding: 20px;
		}

		.entry-title {
			margin-bottom: 0;
			padding-right: 0;
		}

		.read-more {
			display: none;
		}

		.slick-arrow {
			display: none !important;
		}
	}

	.featured-content-carousel.carousel {
		.cat-links,
		.entry-title {
			transform: none;
		}
	}

	.hfeed .hentry,
	.search .site-main article.product {
		display: block;

		.post-thumbnail {
			display: block;
			width: auto;
			max-width: none;
			float: none;
			margin-right: 0;
			margin-bottom: 30px;

			img {
				width: 100%;
			}
		}
	}

	.page .page .entry-header {
		margin-bottom: 40px;
	}

	.page .page .entry-title,
	.single-page-header .entry-title {
		@include font-size(40/16);
	}

	.single-page-header .entry-subtitle {
		@include font-size(18/16);
	}

	.single-page-header.title-above .page-titles {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.page-template-split .split-page-content .wpcf7-submit {
		width: 100%;
	}

	.maintenance-mode {
		.site-content {
			height: auto;
		}

		.mc4wp-form {
			text-align: center;

			input[type=text],
			input[type=email],
			input[type=submit],
			button,
			select {
				text-align: center;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	.related-projects {
		.project {
			width: 100%;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.konte-countdown.type-full {
		.timers {
			display: flex;
			justify-content: space-between;
		}

		.konte-countdown__box {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.konte-message-box {
		padding-left: 60px;
		padding-right: 20px;

		&.closeable {
			padding-right: 35px;
		}
	}

	.konte-message-box__icon {
		left: 10px;
	}

	.konte-message-box__close {
		right: 10px;
	}

	.konte-tabs__nav {
		margin-bottom: 40px;

		li {
			@include font-size(1);
			margin: 0 15px;
		}
	}

	.konte-product-tabs__tabs {
		white-space: nowrap;
		overflow-x: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.konte-product-grid__title {
		@include font-size(34/16);
	}

	.konte-testimonial {
		display: block;
		text-align: center;
	}

	.konte-testimonial__photo {
		float: none;
		padding-right: 0;
		margin-bottom: 30px;
		display: inline-block;
		max-width: 80px;
		border-radius: 50%;
		overflow: hidden;
	}

	.konte-carousel .konte-testimonial {
		display: block;
	}

	.konte-carousel .konte-testimonial__photo {
		padding-right: 0;
	}

	.konte-post-grid .post,
	.konte-post-grid.columns-4 .post {
		width: 100%;
	}

	.konte-post-grid .post:nth-child(2n+1):last-child {
		display: block;
	}

	.flex_post {
		width: 100%;
		float: none;
		padding: 20px !important;
		margin: 0 0 40px 0 !important;

		.flex-post-background {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 100%;

			img {
				max-height: 100%;
			}
		}

		.flex-tags {
			@include font-size(11/16);
			left: -24px;
		}

		.mc4wp-form {
			input[type=text],
			input[type=email],
			select {
				width: 100%;
				min-width: 0;
			}

			input[type=submit],
			input[type=reset],
			button {
				width: 100%;
			}
		}
	}

	.flex-post-background + .flex-post-content {
		position: relative;
		top: auto;
		transform: none;
	}

	.flex-posts-page-title h1 {
		@include font-size(40/16);
	}

	.flex-post-title {
		margin: 15px 0 13px 0;
	}

	.flex-post-content .read-more {
		@include font-size(1);
		padding-bottom: 9px;
	}

	.flex-posts {
		margin: 0;

		.flex-posts-page-title {
			margin-bottom: 95px !important;
		}

		+ .next-posts-navigation {
			margin-top: 80px;
			margin-bottom: 0;
			clear: both;
		}
	}

	.flex-post--custom {
		&.thumbnail-portrait {
			&.right-item {
				padding-left: 20px;
			}

			&.left-item {
				padding-right: 20px;
			}
		}

		&.thumbnail-landscape {
			&.right-item {
				padding-left: 20px;
			}

			&.left-item {
				padding-right: 20px;
			}
		}

		&.thumbnail-square {
			&.right-item {
				padding-left: 20px;
			}

			&.left-item {
				padding-right: 20px;
			}
		}
	}

	.project-navigation .nav-links {
		a {
			flex-direction: column;
		}

		.nav-previous,
		.nav-next {
			align-items: flex-start;
		}

		.nav-previous a {
			align-items: flex-start;
		}

		.nav-next a {
			align-items: flex-end;
			flex-direction: column-reverse;
		}

		img {
			display: block;
			margin-bottom: 10px;
		}

		.project-title {
			@include font-size(1);
			line-height: 1.25;
		}
	}

	.portfolio-page-header {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.portfolio-filter {
		padding: 40px 20px;
		margin-left: -20px;
		margin-right: -20px;
		white-space: nowrap;
		overflow-x: auto;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		a {
			margin-right: 40px;
		}
	}

	.portfolio-projects {
		margin-left: 0;
		margin-right: 0;

		.hentry {
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.konte-category-banner {
		&.has-sub-image {
			padding-top: 20px;

			&.align-left {
				padding-right: 20px;
			}

			&.align-right {
				padding-left: 20px;
			}
		}

		&.title-middle {
			&.align-left {
				padding-right: 20px;
			}

			&.align-right {
				padding-left: 20px;
			}
		}

		&.align-left {
			.konte-category-banner__category {
				left: -21px;
			}

			.konte-category-banner__sub-image img {
				transform: translate(20px, -20px);
			}
		}

		&.align-right {
			.konte-category-banner__category {
				right: auto;
				left: -21px;
				transform: translateX(-100%) rotate(-90deg);
				transform-origin: top right;
			}

			.konte-category-banner__sub-image img {
				transform: translate(-20px, -20px);
			}
		}
	}

	.konte-category-banner__sub-image {
		img {
			max-width: 130px;
			max-height: 130px;
		}
	}

	.konte-category-banner__category {
		@include font-size(11/16);
	}

	.konte-category-banner__title {
		@include font-size(24/16);
		margin: 24px 0 15px 0;
	}

	.konte-category-banner__button {
		@include font-size(1);
		padding-bottom: 9px;
	}

	.vc_row.vc_column-gap-40 > .vc_column_container,
	.vc_row.vc_column-gap-60 > .vc_column_container,
	.vc_row.vc_column-gap-120 > .vc_column_container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	h2.vc_custom_heading {
		@include font-size(30/16);
	}

	h3.vc_custom_heading {
		@include font-size(24/16);
	}

	.konte-banner {
		.konte-button.button-underline {
			font-size: 1.6em;
		}
	}

	.konte-banner__content {
		padding: 20px;
	}

	.konte-banner__tagline {
		font-size: 1.2em;
	}

	.konte-banner__text {
		font-size: 2.4em;
	}

	.konte-banner__description {
		font-size: 1.6em;
	}

	.konte-product-grid {
		ul.products li.konte-product-grid__head {
			width: 100%;
			padding-bottom: 30px;
		}

		li.product:nth-child(2n+1):last-child {
			display: none;
		}

		li.product:nth-child(2n+1):first-child {
			display: block;
		}

		&.has-heading li.product:nth-child(2n):last-child {
			display: none;
		}

		&.has-heading li.product:nth-child(2n):first-of-type {
			display: block;
		}

		&.has-heading li.product:nth-child(2n+1):last-child {
			display: block;
		}
	}

	.konte-product-grid__title {
		@include font-size(36/16);
	}

	.konte-product__wrapper {
		padding: 20px;
	}

	.konte-product-masonry__title {
		@include font-size(30/16);
		margin: 27px 0 10px 0;
	}

	.konte-promotion__text {
		font-size: 2em;
		margin-top: 0;
	}

	.konte-banner-grid {
		.konte-banner-grid__banner {
			width: 100%;
		}

		.konte-banner-grid__banner1 {
			height: (500/1690)*100%;
		}

		.konte-banner-grid__banner2 {
			top: (500/1690)*100%;
			height: (344/1690)*100%;
		}

		.konte-banner-grid__banner3 {
			height: (344/1690)*100%;
		}

		.konte-banner-grid__banner4 {
			top: (844/1690)*100%;
			bottom: auto;
			height: (500/1690)*100%;
		}
	}

	.konte-banner-grid__banner-content {
		padding: 16px 30px 30px;

		.konte-button {
			@include font-size(1);
		}
	}

	.konte-banner-grid__banner-image {
		background-size: cover;
	}

	.konte-banner-grid__banner-text {
		@include font-size(32/16);
	}

	.konte-product-carousel {
		ul.products li.product {
			margin-bottom: 5px;
		}
	}

	.konte-product-carousel2 {
		.slick-arrow.slick-prev {
			left: 10px;
		}

		.slick-arrow.slick-next {
			left: 60px;
		}
	}

	.konte-icon-box__icon,
	.konte-icon-box__title {
		margin-bottom: 10px;
	}

	.box-align-center .konte-icon-box__title {
		font-size: 24px !important;
		margin-bottom: 12px;
	}

	.konte-icon-box__content {
		@include font-size(1);
	}

	.konte-carousel {
		.konte-carousel__arrow {
			display: none !important;
		}

		.konte-carousel-item {
			max-width: 384px;
		}
	}

	.konte-carousel--gap-40,
	.konte-carousel--gap-60,
	.konte-carousel--gap-90 {
		.slick-list {
			margin-left: -10px;
			margin-right: -10px;
		}

		.slick-slide {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.konte-carousel--free-mode {
		overflow: hidden;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;

		.konte-carousel-item__title {
			@include font-size(24/16);
			margin: 10px 0;
		}

		.konte-carousel-item .konte-button {
			@include font-size(1);
		}
	}

	.konte-product-carousel2 {
		ul.products li.product {
			.product-summary {
				padding: 15px 20px 0 10px;
			}

			.add-to-cart {
				margin-left: 10px;
				margin-bottom: 20px;
			}

			.product-title {
				@include font-size(18/16);
			}

			.product-price {
				@include font-size(16/16);

			}
		}
	}

	.konte-promotion.layout-inline {
		text-align: center;
		display: block;

		.konte-promotion__text {
			display: block;
			margin-bottom: 5px;
		}

		.konte-button {
			margin-left: 0;
		}
	}

	.konte-cta {
		padding-top: 32px;
		padding-bottom: 14px;

		&:before {
			display: none;
		}
	}

	.konte-cta__content {
		padding-left: 40px;
		padding-right: 40px;
	}

	.konte-cta__text {
		margin: 20px 0 30px 0;
	}

	.konte-cta__note {
		@include font-size(11/16);
		margin-top: 16px;
	}

	.konte-instagram > ul li {
		width: 50% !important;
	}

	.footer-extra {
		padding: 20px 0;
	}

	.footer-extra:first-child,
	.footer-widgets:first-child,
	.footer-instagram:first-child {
		padding-top: 30px;
	}

	.footer-widgets {
		padding-bottom: 0;

		.widget {
			li {
				padding: 10px 0;
			}
		}
	}

	.footer-instagram .instagram-feed li {
		width: 50% !important;

		&:nth-child(n+5) {
			display: none;
		}
	}

	.footer-main .footer-items {
		display: block;

		> * {
			margin-bottom: 30px;
		}
	}

	.offscreen-panel {
		.button-close {
			top: 16px;
			right: 20px;

			.menu-text {
				display: none;
			}
		}

		.panel-header,
		.panel-content {
			padding-left: 20px;
			padding-right: 20px;
		}

		.panel-header {
			padding: 21px 20px;

			h3 {
				@include font-size(20/16);
			}
		}

		.panel-content {
			padding-top: 20px;
		}
	}

	.modal {
		.modal-header {
			padding: 20px;

			h3 {
				@include font-size(20/16);
			}
		}

		.button-close {
			top: 18px;
			right: 18px;

			.menu-text {
				display: none;
			}
		}
	}

	.search-modal {
		.modal-content,
		.modal-footer {
			padding-left: 20px;
			padding-right: 20px;
		}

		.search-result {
			padding-top: 40px;
		}

		.quick-links {
			.label {
				@include font-size(12/16);
			}

			.links {
				display: flex;
				flex-wrap: wrap;

				li {
					@include font-size(12/16);
					width: 50%;
					margin-right: 0;
					padding: 5px 0;
				}
			}
		}
	}

	.gotop {
		right: 20px;
		bottom: 20px;
	}
}

@media (max-width: 600px) {
	.admin-bar .header-sticky--normal.sticky,
	.admin-bar .header-sticky--smart.headroom--not-top {
		top: 0;
	}
}
