.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-links {
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.post-navigation {
	padding: 30px 0 30px;
	border-bottom: 1px solid $color__lighter;

	a {
		@include font-size(1);
		display: flex;
		align-items: center;
	}

	.nav-titles {
		@include font-size(12/16);
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1;
		margin: 0 0 20px 0;
		overflow: hidden;
	}

	.nav-links {
		display: flex;

		.nav-previous,
		.nav-next {
			display: flex;
			align-items: center;
			word-break: break-word;
		}

		.nav-next {
			justify-content: flex-end;
		}

		.nav-previous + .nav-next {
			border-left: 1px solid $color__lighter;
		}
	}

	.nav-previous {
		padding-right: 30px;

		img {
			margin-right: 20px;
		}
	}

	.nav-next {
		padding-left: 30px;

		img {
			margin-left: 20px;
		}
	}
}

.pagination,
.comments-pagination {
	@include font-size(12/16);
	font-weight: 500;

	.svg-icon {
		@include font-size(10/16);
	}

	.nav-links {
		> a,
		> span {
			color: $color__gray;
			text-align: center;
			line-height: (40/12);
			display: inline-block;
			min-width: (40/12) * 1em;
			height: (40/12) * 1em;
			padding: 0 5px;
			margin-right: 6px;
			border: 1px solid $color__lighter;

			&:last-child {
				margin-right: 0;
			}
		}

		a:hover {
			color: $color__dark;
			border-color: $color__dark;
		}

		.current {
			color: #fff;
			border-color: $color__dark;
			background: $color__dark;
		}

		.dots {
			border: 0;
		}

		.next,
		.prev {
			padding: 0 20px;
		}

		.next .svg-icon {
			margin-left: 10px;
		}

		.prev .svg-icon {
			margin-right: 10px;
		}
	}
}

.comments-pagination {
	margin-top: 30px;
}

.next-posts-navigation {
	text-align: center;
	padding-top: 40px;

	.nav-links {
		display: inline-block;
	}

	a {
		@include font-size(11/16);
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		padding: 10px;
		border-radius: 50%;
		border: 1px solid $color__lighter;
		vertical-align: middle;

		&:hover {
			border-color: $color__dark;
		}

		&:after {
			content: "";
			position: absolute;
			top: -1px;
			bottom: -1px;
			left: -1px;
			right: -1px;
			border-radius: 50%;
			border: 1px solid transparent;
			border-top-color: $color__dark;
			animation: spin 2s linear infinite;
			opacity: 0;
		}

		&.loading {
			cursor: default;

			&:hover {
				border-color: $color__lighter;
			}

			&:after {
				opacity: 1;
			}
		}
	}
}